.btn-primary{
	background-color: green !important
}
.table th{
	font-size: 20px;
	vertical-align: middle;
	padding:8px;
	margin: 0;
	white-space: nowrap;
}
.table td{
	vertical-align: middle;
	white-space: nowrap;
}

.a_icon{
	font-size: 28px;
	color:green;
	margin-right: 5px;
}
.r_icon{
	font-size: 30px;
	color:red;
	margin-left: 27px;
}
.view{
	height: 87px;
	margin-bottom: 20px;
}
.table td.description{
	white-space: normal;
}



.sign{
	float: right;
}
.dropdown{
	margin-bottom: 10px;
	
}
.dropdown-toggle{
	/*background-image: linear-gradient(to right,#330867 50%,#30cfd0 100%) !important;*/
}
.card{
	max-width: 100%;
}
h3{
	text-align: center;
}
.selected{
	display: none;
}
.unselected{
	display: block;
}
.table a{
	display: table;
	margin: 0;
}
/*.avatar{
  position: relative;
  }*/
/*.img-fluid {
    
    height: 40px !important;
    object-fit: cover;
}
*/
li a{
	font-size: 24px;
}


.nav-link {
	display: block;
	padding: 0 !important; 
	cursor: pointer;
}
.fa-caret-up,.fa-caret-down{

	vertical-align: middle;
	/*opacity: 0.75;*/
	display: block;
}
/*table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	right: 0px;
	top: 11px;
}*/
