<div class="row">
  <div class="col-md-2 ml-auto mb-3">
    <a class="nav-link" (click)="leavesToDisplay=false">
      <select class="browser-default custom-select custom-select-lg  text-left z-depth-3 float-right" *ngIf="developers && currentUser.userRole=='projectManager'" (change)="filterTracks(trackChangeDeveloperWise = $event.target.value)">
        <option value="all" selected>All Developer</option>
        <option *ngFor="let developer of developers" value="{{developer.email}}">{{developer.name}}</option>
      </select>
    </a>
  </div>
</div>
<div class="row">
  <ul class="nav md-tabs white-text nav-justified gray" style="width: 100%;" id="myTabJust" role="tablist" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
    <li class="nav-item col-md-4">
      <a class="card_custom card_custom_1 z-depth-3" (click)="leavesToDisplay=false; selectedStatus='pending'; getFilteredLeaves()">
        <div class="leave_icon">
          <img src="assets/icons/pending.png">
        </div>
        <span class="nav-link">Pending Leaves</span>
      </a>
    </li>
    <li class="nav-item col-md-4">
      <a class="card_custom card_custom_2 z-depth-3"  (click)="leavesToDisplay=false;   selectedStatus='approved'; getFilteredLeaves()">
        <div class="leave_icon">
          <img src="assets/icons/approv.png">
        </div>
        <span class="nav-link">Approved Leaves</span>
      </a>
    </li>
    <li class="nav-item col-md-4">
      <a class="card_custom card_custom_3 z-depth-3" (click)="leavesToDisplay=false; selectedStatus='rejected'; getFilteredLeaves()">
        <div class="leave_icon">
          <img src="assets/icons/rejected.png">
        </div>
        <span class="nav-link">Rejected Leaves</span>
      </a>
    </li>
  </ul>
</div>
<div class="row justify-content-center" *ngIf="!leavesToDisplay">
  <div class="col-12 col-md-12">
    <div class="card card-cascade narrower mt-11" *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' ">
      <div class="view view-cascade purple-gradient-2 color-block narrower  d-flex justify-content-between align-items-center" [id]="title">
        <h2 class="white-text margin-auto text-center ml-10" style=" margin: 0; padding: 10px;
        max-width: calc(100% - 130px);">
        <img src="assets/icons/leave.png" height="40px" width="40px" style="margin-left: 80px;">{{title}} Leaves</h2>
        <div style="padding: 10px;">
          <div class="btn-group dropleft  px-2 py-2 ">
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="dropdown" style="border-radius: 48%;" >
              <i class="fas fa-search mt-0"></i>
            </button>
            <div class="dropdown-menu">
              <div class="md-form form-group active">
                <i class="fas fa-search prefix"></i>
                <input type="text" id="exampleForm2" class="form-control " [(ngModel)]="searchText" (keyup)="onKey(searchText)" autocomplete="off">
                <label for="exampleForm2" >Search</label>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="sortLeavesByFromDate('asc')">
            <i class="fas fa-caret-up mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" (click)="sortLeavesByFromDate('desc')">
            <i class="fas fa-caret-down mt-0"></i>
          </button>
        </div>
      </div>
      <div class="px-4" style="text-align: center;">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <i class="fas fa-user-circle deep-purple-text"></i> Avtar
                </th>
                <th>
                  <span><i class="fas fa-pen deep-purple-text"></i> Name
                  </span>
                </th> 
                <th>
                  <span><i class="fas fa-stopwatch deep-purple-text"></i> Leave-Duration
                  </span>
                </th>
                <th>
                  <span><i class="fas fa-paperclip deep-purple-text"></i> Attachment</span>
                </th>
                <th>
                  <span><i class="fas fa-comment-dots deep-purple-text"></i> Comment</span>
                </th>
                <th>
                  <span><i class="fas fa-info deep-purple-text"></i> ViewMore</span>
                </th>
                <th>
                  <span><i class="fas fa-adjust deep-purple-text"></i> Leave-Status</span>
                  <!-- <i class="fas fa-sort ml-1"></i> -->
                </th>
                <th id="statusAction">
                  <span>Action</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leaves of leaveApp">
                <td style="width: 56px;">
                  <div class="avatar mx-auto" *ngIf= "leaves.dev">
                    <a routerLink = "/visit-user-profile/{{leaves.dev._id}}">
                      <img src="{{path}}{{leaves.dev.profilePhoto}}" onerror="this.src='../assets/man.png'" style="border-radius: 10px;" class=" img-fluid img_content">
                    </a>
                  </div>
                </td>
                <td><strong>{{leaves.name}}</strong></td>
                <td>{{leaves.leaveDuration}}</td>
                <td>
                  <span *ngIf="leaves.attechment && leaves.attechment.length">
                    <span *ngFor="let att of leaves.attechment;  let i =index">
                      <!-- <app-image-viewer  [images]="leaves.attechment"
                      [idContainer]="'idOnHTML'"[loadOnInit]="false" [rotate]="true" [resetZoom]="true"
                      ></app-image-viewer> -->
                      <!-- <a *ngIf="!att.includes('.pdf') && leaves.attechment.length" [attr.data-lightbox]="leaves._id" class="image_attachment" href="{{path}}{{att}}" target="_blank"><span *ngIf="i == 0">View images</span></a> -->
                      <a class="image_attachment" data-toggle="modal" data-target="#attachmentModal" (click)="sendAttachment(leaves.attechment)"><span *ngIf="i == 0">View Attachment</span></a>
                    </span>
                  </span>
                  <span  *ngIf="leaves.attechment && !leaves.attechment.length">
                    <a data-lightbox="comment_image"  class="image_attachment" href="{{path}}{{leaves.attechment}}">View Attechment</a>
                  </span>
                  <p *ngIf="!leaves.attechment" style="color: blue; font-size: 16px;">No Attechment</p>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-secondary waves-effect" data-toggle="modal" data-target="#centralModalInfo" (click)="leaveById(leaves._id)">Comment</button>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-default waves-effect waves-light" data-toggle="modal" data-target="#viewmore" (click)="leaveById(leaves._id)">Viewmore</button>
                </td>
                <td>
                  <strong *ngIf="leaves.status=='pending'" style="color: orange; background-color: #ffc1074d; padding: 5px; text-transform: uppercase;">{{leaves.status}}</strong>
                  <strong *ngIf="leaves.status=='approved'" style="color: darkgreen;background-color: #28a74578; padding: 5px; text-transform: uppercase;">{{leaves.status}}</strong>
                  <strong *ngIf="leaves.status=='rejected'" style="color: red;background-color: #efc3c3cc; padding: 5px; text-transform: uppercase;">{{leaves.status}}</strong>
                </td>
                <!-- <td *ngIf="leaves.status=='pending'"><a><i class="fa fa-check a_icon" aria-hidden="true" (click)="leaveAccepted(leaves._id)"></i><i class="fa fa-times r_icon" aria-hidden="true" (click)="leaveRejected(leaves._id)"></i></a></td> -->
                <td *ngIf="leaves.status=='pending'"><a><i class="far fa-thumbs-up a_icon" aria-hidden="true" (click)="leaveAccepted(leaves._id)"></i><i class="far fa-thumbs-down r_icon" aria-hidden="true" (click)="leaveRejected(leaves._id)"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="total_leave">
  <div class="container">
   <div class="row" *ngIf="leavesToDisplay">
    <div class="col-sm-5 z-depth-5">
      <h2 class="text-center pt-2">Total Leaves</h2>
      <p class="text-center" *ngIf="leaveApp" style="margin-top: 16px; color: #f6f4fa;font-weight: bold;background-color: #af7ef3; padding: 14px;">{{leaveApp.length}} responses</p>
      <canvas id="pieChart"></canvas>
    </div>            
    <div class="col-md-1">
    </div>
    <div class="col-sm-5 z-depth-5">
      <h2 class="text-center pt-2">Duration</h2>
      <p class="text-center" *ngIf="leaveApp" style="margin-top: 16px; color: #f6f4fa;font-weight: bold;background-color: #af7ef3; padding: 14px;">{{leaveApp.length}} responses</p>
      <canvas id="pieChart1"></canvas>
    </div>
  </div>
</div>
</div>

<!-- Comment Model -->

<div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header purple-gradient-2 ">
      <p class="heading lead">Leave Comment</p>
<!-- 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button> -->
      </div>

      <!--Body-->
      <div class="modal-body">
        <p *ngIf="singleleave">Previous Comment:{{singleleave.comment}}</p>
        <form style="width: 100%;">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
            <div class="form-group" style="text-align: left">
              <label for="exampleFormControlTextarea3"><strong style="font-size: 24px;">Add Comment</strong></label>
              <textarea name="comment" [(ngModel)]="comment" class="form-control" id="exampleFormControlTextarea3" rows="7" ></textarea>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <input type="submit" class="btn btn-default" (click)="submitComment(singleleave._id,comment)">
            <br>
            <a class="btn btn-outline-default waves-effect" data-dismiss="modal">Cancel</a>
          </div>
        </form>
      </div>

      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
</div>



<!-- Comment Model -->

<div class="modal fade" id="viewmore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content" *ngIf="singleleave">
    <!--Header-->
    <div class="modal-header purple-gradient-2 ">
      <p class="heading lead text-center">Leave Details</p>
      <button type="button" class="close margin-right-10" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <!--Body-->
    <div class="modal-body">
      <div class="card card_border padding-10 z-depth-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 border padding-top-5 ">
              <h6><i class="far fa-user"></i> Name:</h6>
              <p *ngIf="singleleave">{{singleleave.name}}</p>  
            </div>
            <div class="col-md-6 border padding-top-5 ">
             <h6><i class="far fa-envelope"></i> Email:</h6>
             <p *ngIf="singleleave">{{singleleave.email}}</p> 
           </div>
         </div>
         <div class="row">
          <div class="col-md-6 border padding-top-5 ">
            <h6><i class="far fa-calendar-alt"></i> StartingDate:</h6>
            <p *ngIf="singleleave">{{singleleave.startingDate | date:'mediumDate'}}</p>
          </div>
          <div class="col-md-6 border padding-top-5 ">
            <h6> <i class="fas fa-calendar-alt"></i> EndingDate:</h6>
            <p *ngIf="singleleave">{{singleleave.endingDate | date:'mediumDate'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 border padding-top-5 ">
            <h6><i class="far fa-clock"></i> LeaveDuration:</h6>
            <p *ngIf="singleleave">{{singleleave.leaveDuration}}</p>  
          </div>
          <div class="col-md-6 border padding-top-5 ">
            <h6><i class="far fa-dot-circle"></i> LeaveType:</h6>
            <p *ngIf="singleleave">{{singleleave.typeOfLeave}}</p>  
          </div>
        </div>
        <div class="row border">
          <div class="col-md-12 padding-top-5 ">
            <h6><i class="fas fa-pen-square"></i> LeaveReason:</h6>
            <p style="text-align: justify;" *ngIf="singleleave">{{singleleave.reasonForLeave}}</p>  
          </div>
       <!--  </div>
        <div class="footer_1"> -->
        </div> 
        <div class="leaveHeading">
          <div class="row padding-10">
            <div class="col-md-6 leaveCount">
              <h6>Total Leave: <span *ngFor="let leave of leavescount" style="color: black">{{leave.leavesPerYear}}</span></h6>
            </div>
            <div class="col-md-6 leaveCount">
              <h6>Available Leave: <span *ngFor="let leave of leavescount" style="color: black">{{leave.leavesLeft}}</span></h6>
            </div>
          </div>  
        </div> 
        <div class="row mb-2">
          <div class="col-md-6 border padding-top-5" *ngFor="let leave of leavescount | slice:0:4">
            <h6>{{leave.typeOfLeave}}:</h6>
            <p><span style="background-color: lightblue;color: black;text-shadow: 1px 1px;padding: 5px;">{{leave.leavesTaken}}</span></p>
          </div>
        </div>
        <a class="float-right"><i class="fa fa-check a_icon" aria-hidden="true" (click)="leaveAccepted(leaves._id)"></i>
          <i class="fa fa-times r_icon" aria-hidden="true" (click)="leaveRejected(leaves._id)"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.Content-->
</div>

<div class="modal fade top" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="attachmentModelLabel" aria-hidden="true">
  <div  id="attachmentModelLabel" role="document">
    <div  *ngIf="gotAttachment && gotAttachment.length">
      <app-image-viewer  [images]="gotAttachment" [idContainer]="'idOnHTML'" [loadOnInit]="true"></app-image-viewer>
    </div>
  </div>
</div>
