.btn-primary{
	background-color: green !important
}
.table{
	margin: 5px;
	padding: 5px;
	text-align: center;
	/*display: inline-block;*/
}
.table th{
	font-size: 20px;
	vertical-align: middle;
	padding:8px;
	margin: 0;
	white-space: nowrap;
}
.table td{
	vertical-align: middle;
	padding: 8px;
	white-space: nowrap;
}
.purple-gradient-2{
	/*background: -webkit-linear-gradient(10deg,#5E4D89,#A274E0)!important;*/
	background-color: #5d2bdb;
	/*    
	background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    */
}
.a_icon{
	font-size: 28px;
	color:green;
	margin-right: 5px;
}
.r_icon{
	font-size: 30px;
	color:red;
	margin-left: 27px;
}
.view{
	height: 87px;
}
.table td.description{
	white-space: normal;
}
.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

.sign{
	float: right;
}
.dropdown{
	margin-bottom: 10px;
	
}
.dropdown-toggle{
	/*background-image: linear-gradient(to right,#330867 50%,#30cfd0 100%) !important;*/
}


/*.card{
	width:118% !important;
	}*/
