




<ul class="nav nav-tabs nav-justified md-tabs deep-purple" id="myTabJust" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="home-tab-just" data-toggle="tab" href="#home-just"  role="tab" (click)="leavesToDisplay=false" aria-controls="home-just"
    aria-selected="true">Pending Leaves</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" (click)="leavesToDisplay=false" aria-controls="profile-just" (click)="getApprovedLeaves()"
    aria-selected="false">Accepted Leaves</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" (click)="leavesToDisplay=false" aria-controls="contact-just" (click)="getRejectedLeaves()"
    aria-selected="false">Rejected Leaves</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="developer-leave" data-toggle="tab" href="#developer-just"  role="tab" (click)="leavesToDisplay=false" aria-controls="developer-just"
    aria-selected="true">
    <div>
      <select class="browser-default custom-select custom-select-lg  text-left" *ngIf="developers && currentUser.userRole=='projectManager'" (change)="filterTracks(
      trackChangeDeveloperWise = $event.target.value)

      ">
      <option value="all" selected>All Developer</option>
      <option *ngFor="let developer of developers" value="{{developer.email}}">{{developer.name}}</option>
    </select>
  </div>
</a>
</li>
</ul>




<!-- Pending Leaves Table -->

<div class="tab-content pt-5" id="myTabContentJust">
  <div class="tab-pane fade show " id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
   <div *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' ">

    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <!-- Table with panel -->
        <div class="card card-cascade narrower" *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' ">

          <!--Card image-->
          <div class="view view-cascade purple-gradient-2 color-block narrower  d-flex justify-content-between align-items-center">
            <h2 class="white-text mx-3" style="text-align: center; margin: 0; padding: 10px 0; width: 100%;">Leave Applications</h2>
          </div>
          <!--/Card image-->

          <div class="px-4">
            <div class="table-responsive">
              <!--Table-->
              <table class="table table-hover">

                <!--Table head-->
                <thead>
                  <tr>
                    <th>
                      Avtar
                    </th>
            <!--   <th>
                <span>E-mail
                </span>
              </th> -->
              <th>
                <span>Name
                </span>
              </th> 
              <th>
                <span>Leave-Duration
                </span>
              </th>
              <th>
                <span>From Date
                </span>
              </th>
              <th>
                <span>To Date
                </span>
              </th>

              <th>
                <span>Types Of Leave</span>
              </th>
              <th>
                <span>Leave-Reason</span>
              </th>
              <th>
                <span>Attachment</span>
              </th>
              <th>
                <span>Leave-Status</span>
                <i class="fas fa-sort ml-1"></i>
              </th>
              <th>
                <span>Action</span>
              </th>
            </tr>
          </thead>

          <!--Table body-->
          <tbody>
            <tr *ngFor="let leaves of leaveApp">
              <td style="width: 56px;">
                <div class="avatar mx-auto" *ngIf= "leaves.dev">
                  <a routerLink = "/visit-user-profile/{{leaves.dev._id}}">
                    <img src="{{path}}{{leaves.dev.profilePhoto}}" onerror="this.src='../assets/man.png'" class="rounded-circle img-fluid img_content">
                  </a>
                </div>
              </td>
              <!-- <td>{{leaves.email}}</td> -->
              <td>{{leaves.name}}</td>
              <td >{{leaves.leaveDuration}}</td>
              <td>{{leaves.startingDate}}</td>
              <td>{{leaves.endingDate}}</td>
              <td>{{leaves.typeOfLeave}}</td>
              <td class="description">{{leaves.reasonForLeave}}</td>
              <td >
                <a data-lightbox="comment_image" *ngIf="leaves.attechment" class="image_attachment" href="{{path}}{{leaves.attechment}}">View Attechment</a>
                <p *ngIf="!leaves.attechment" style="color: blue; font-size: 16px;" >No Attechment</p>
              </td>
              <td><strong style="color: orange;text-transform: uppercase;">{{leaves.status}}</strong></td>
              <td><a><i class="fa fa-check a_icon" aria-hidden="true" (click)="leaveAccepted(leaves._id)"></i><i class="fa fa-times r_icon" aria-hidden="true" (click)="leaveRejected(leaves._id)"></i></a></td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>

<!-- Accepted Leave Table -->

<!--Card image-->
<div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
  <div *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <!-- Table with panel -->
        <div class="card card-cascade narrower">

          <!--Card image-->
          <div class="view view-cascade purple-gradient-2 color-block narrower  d-flex justify-content-between align-items-center">

            <h2 class="white-text mx-3" style="text-align: center; margin: 0; padding: 10px 0; width: 100%;">Leave Applications</h2>

          </div>
          <!--/Card image-->

          <div class="px-4">
            <div class="table-responsive">
              <!--Table-->
              <table class="table table-hover">

                <!--Table head-->
                <thead>
                  <tr>
                    <th>
                      <span>Avtar
                      </span>
                    </th>
           <!--    <th>
                <span>E-mail
                </span>
              </th> -->
              <th>
                <span>Name
                </span>
              </th> 
              <th>
                <span>Leave-Duration
                </span>
              </th>
              <th>
                <span>From Date
                </span>
              </th>
              <th>
                <span>To Date
                </span>
              </th>

              <th>
                <span>Types Of Leave</span>
              </th>
              <th>
                <span>Leave-Reason</span>
              </th>
              <th>
                <span>Leave-Status</span>
                <i class="fas fa-sort ml-1"></i>
              </th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let leaves of approvedLeaves">
              <td style="width: 56px;">
                <div class="avatar mx-auto" *ngIf= "leaves.dev">
                  <a routerLink = "/visit-user-profile/{{leaves.dev._id}}">
                    <img src="{{path}}{{leaves.dev.profilePhoto}}" onerror="this.src='../assets/man.png'" class="rounded-circle img-fluid img_content">
                  </a>
                </div>
              </td>
              <!-- <td >{{leaves.email}}</td> -->
              <td>{{leaves.name}}</td>
              <td >{{leaves.leaveDuration}}</td>
              <td>{{leaves.startingDate}}</td>
              <td>{{leaves.endingDate}}</td>
              <td>{{leaves.typeOfLeave}}</td>
              <td class="description">{{leaves.reasonForLeave}}</td>
              <td><strong style="color: darkgreen; text-transform: uppercase;">{{leaves.status}}</strong></td>

            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

    </div>
  </div>
</div>
</div>

</div>
</div>

</div>
<!-- </div>
</div>

</div> -->




<div class="row justify-content-center">
    <!-- <div>
    <select  class="browser-default custom-select custom-select-lg mb-1" id="assignTo" formControlName="assignTo" *ngIf="newTask.assignTo" [(ngModel)]="newTask.assignTo._id">
      <option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>
    </select>
  </div> -->
  <div>
    <select class="browser-default custom-select custom-select-lg mb-3 text-left" *ngIf="developers && currentUser.userRole=='user'" (change)="filterTracks(
    trackChangeDeveloperWise = $event.target.value)
    ">
    <option value="all" selected>All Developer</option>
    <option *ngFor="let developer of developers" value="{{developer.email}}">{{developer.name}}</option>
  </select>
</div>
<div class="col-12 col-md-12">
  <!-- Table with panel -->
  <div class="card card-cascade narrower">




    <!-- Rejected Leave Table -->

    <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
     <div *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' ">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12">
          <!-- Table with panel -->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view view-cascade purple-gradient-2 color-block narrower  d-flex justify-content-between align-items-center">

              <h2 class="white-text mx-3" style="text-align: center; margin: 0; padding: 10px 0; width: 100%;">Leave Applications</h2>

            </div>
            <!--/Card image-->

            <div class="px-4">
              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover">

                  <!--Table head-->
                  <thead>
                    <tr>
                      <th>
                        <span>Avtar
                        </span>
                      </th>
           <!--    <th>
                <span>E-mail
                </span>
              </th> -->
              <th>
                <span>Name
                </span>
              </th> 
              <th>
                <span>Leave-Duration
                </span>
              </th>
              <th>
                <span>From Date
                </span>
              </th>
              <th>
                <span>To Date
                </span>
              </th>

              <th>
                <span>Types Of Leave</span>
              </th>
              <th>
                <span>Leave-Reason</span>
              </th>
              <th>
                <span>Leave-Status</span>
                <i class="fas fa-sort ml-1"></i>
              </th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let leaves of rejectedLeaves">
              <td style="width: 56px;">
                <div class="avatar mx-auto" *ngIf= "leaves.dev">
                  <a routerLink = "/visit-user-profile/{{leaves.dev._id}}">
                    <img src="{{path}}{{leaves.dev.profilePhoto}}" onerror="this.src='../assets/man.png'" class="rounded-circle img-fluid img_content">
                  </a>
                </div>
              </td>
              <!-- <td >{{leaves.email}}</td> -->
              <td>{{leaves.name}}</td>
              <td >{{leaves.leaveDuration}}</td>
              <td>{{leaves.startingDate}}</td>
              <td>{{leaves.endingDate}}</td>
              <td>{{leaves.typeOfLeave}}</td>
              <td class="description">{{leaves.reasonForLeave}}</td>
              <td><strong style="color: red;text-transform: uppercase;">{{leaves.status}}</strong></td>

            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
      <!--/Card image-->

      <div class="px-4">
        <div class="table-wrapper table-responsive">
          <!--Table-->
          <table class="table table-hover table-responsive mb-0 css-serial">

            <!--Table head-->
            <thead>
              <tr>
                <th class="th-lg text-left">
                  <span class="text-left">Sr No.
                  </span>
                </th>
                <th class="th-lg text-left">
                  <span class="text-left">E-mail
                  </span>
                </th>
                <th class="th-lg text-left">
                  <span class="text-left">Name
                  </span>
                </th> 
                <th class="th-lg text-left">
                  <span class="text-left">Leave-Duration
                  </span>
                </th>
                <th class="th-lg text-left">
                  <span class="text-left">From Date
                  </span>
                </th>
                <th class="th-lg text-left">
                  <span class="text-left">To Date
                  </span>
                </th>

                <th class="th-lg text-left">
                  <span class="text-left">Types Of Leave</span>
                </th>
                <th class="th-lg text-left">
                  <span class="text-left">Leave-Reason</span>
                </th>
                <th class="th-lg text-left">
                  <span class="text-left">Leave-Status</span>
                  <i class="fas fa-sort ml-1"></i>
                </th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr *ngFor="let leaves of leaveApp">
          <!-- <th scope="row">
            <input class="form-check-input" type="checkbox" id="checkbox1">
            <label class="form-check-label" for="checkbox1" class="label-table"></label>

          </th> -->
          <td ></td>
          <td  class="text-left">{{leaves.email}}</td>
          <td class="text-left">{{leaves.name}}</td>
          <td >{{leaves.leaveDuration}}</td>
          <td class="text-left">{{leaves.startingDate}}</td>
          <td class="text-left">{{leaves.endingDate}}</td>
          <td class="text-left">{{leaves.typeOfLeave}}</td>
          <td class="text-left description">{{leaves.reasonForLeave}}</td>
          <td class="text-left">{{leaves.status}}</td>
          
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>

</div>

</div>
</div>
</div>

</div>
</div>



<!-- All Developers Leaves Table -->


<div class="tab-pane fade show " id="developer-just" role="tabpanel" aria-labelledby="developer-just">
 <div *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' ">

  <div class="row justify-content-center">
    <!-- <div>
    <select  class="browser-default custom-select custom-select-lg mb-1" id="assignTo" formControlName="assignTo" *ngIf="newTask.assignTo" [(ngModel)]="newTask.assignTo._id">
      <option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>
    </select>
  </div> -->

  <div class="col-12 col-md-12">
    <!-- Table with panel -->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade purple-gradient-2 color-block narrower  d-flex justify-content-between align-items-center">
        <h2 class="white-text mx-3" style="text-align: center; margin: 0; padding: 10px 0; width: 100%;">Leave Applications</h2>
      </div>
      <!--/Card image-->

      <div class="px-4">
        <div class="table-responsive">
          <!--Table-->
          <table class="table table-hover">

            <!--Table head-->
            <thead>
              <tr>
                <th>
                  Avtar
                </th>
                <th>
                  <span>Name
                  </span>
                </th> 
                <th>
                  <span>Leave-Duration
                  </span>
                </th>
                <th>
                  <span>From Date
                  </span>
                </th>
                <th>
                  <span>To Date
                  </span>
                </th>

                <th>
                  <span>Types Of Leave</span>
                </th>
                <th>
                  <span>Leave-Reason</span>
                </th>
                <th>
                  <span>Leave-Status</span>
                  <i class="fas fa-sort ml-1"></i>
                </th>
              </tr>
            </thead>

            <!--Table body-->
            <tbody>
              <tr *ngFor="let leaves of leaveApp">
                <td style="width: 56px;">
                  <div class="avatar mx-auto" *ngIf= "leaves.dev">
                    <a routerLink = "/visit-user-profile/{{leaves.dev._id}}">
                      <img src="{{path}}{{leaves.dev.profilePhoto}}" onerror="this.src='../assets/man.png'" class="rounded-circle img-fluid img_content">
                    </a>
                  </div>
                </td>
                <!-- <td>{{leaves.email}}</td> -->
                <td>{{leaves.name}}</td>
                <td >{{leaves.leaveDuration}}</td>
                <td>{{leaves.startingDate}}</td>
                <td>{{leaves.endingDate}}</td>
                <td>{{leaves.typeOfLeave}}</td>
                <td class="description">{{leaves.reasonForLeave}}</td>
                <td>
                  <strong *ngIf="leaves.status=='pending'"style="color: orange;text-transform: uppercase;">{{leaves.status}}</strong>

                  <strong *ngIf="leaves.status=='approved'" style="color: darkgreen;text-transform: uppercase;">{{leaves.status}}</strong>

                  <strong *ngIf="leaves.status=='rejected'" style="color: red;text-transform: uppercase;">{{leaves.status}}</strong>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>



</div>


<div class="container">
  <div class="leaveImage text-center" *ngIf="leavesToDisplay">
    <img src="../assets/leave1.png" style="height: 600px; width: 1200px;">
  </div>
</div>





<!-- for employee leaves List -->

<!-- 
<div class="container" *ngIf="currentUser.userRole=='user'">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
     Table with panel -->
     <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade purple-gradient-2 color-block narrower  d-flex justify-content-between align-items-center">

        <h3 class="white-text mx-3" style="text-align: center; margin: 0; padding: 10px 0;">Leave Applications</h3>

      </div>
      <!--/Card image-->

      <div class="px-4">
        <div class="table-wrapper">
          <!--Table-->
          <table class="table table-hover mb-0 css-serial">

            <!--Table head-->
            <thead>
              <tr>
                <th>
                  <span>Sr No.
                  </span>
                </th>
                <th>
                  <span>E-mail
                  </span>
                </th>
                <th>
                  <span>Name
                  </span>
                </th> 
                <th>
                  <span>Leave-Duration
                  </span>
                </th>
                <th>
                  <span>From Date
                  </span>
                </th>
                <th>
                  <span>To Date
                  </span>
                </th>

                <th>
                  <span>Types Of Leave</span>
                </th>
                <th>
                  <span>Leave-Reason</span>
                </th>
                <th>
                  <span>Leave-Status</span>
                </th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody *ngFor="let leave of leaves">
              <tr *ngIf="leave.status !=='pending'">
                <td></td>
                <td>{{leave.email}}</td>
                <td>{{leave.name}}</td>
                <td >{{leave.leaveDuration}}</td>
                <td>{{leave.startingDate}}</td>
                <td>{{leave.endingDate}}</td>
                <td>{{leave.typeOfLeave}}</td>
                <td class="description">{{leave.reasonForLeave}}</td>
                <td>{{leave.status}}</td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>

</div> 

