	<div class="container-fluid" style="background-image: linear-gradient(#8bc34ab0,#85cc32)">
		<h1 class="text-center font-weight-bold text-black" >Notification</h1>
	</div>
	<div class="container">
		<ul *ngFor="let data of userNotification">
			<li class="card mt-1 task" *ngIf ="data.type == 'task' && data.priority == '1'">
				<div class="row" >
					<div class="padding-5 col-sm-2">
						<div class="unread1">
							<div class="task_priority_highest">
								<i class="far fa-circle" title="Highest"></i>
								<span class="task_span" ng-click="showAlert(data.id)">Task</span>
							</div>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content">
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>

					</div>
				</div>
			</li>
			<li class="card mt-1 task"  *ngIf ="data.type == 'task' && data.priority == '2'">
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="unread1">
							<div class="task_priority_high">
								<i class="far fa-circle" title="High"></i>
								<span class="task_span">Task</span>
							</div>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
			<li class="card mt-1 task" *ngIf ="data.type == 'task' && data.priority == '3'">
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="unread1">
							<div class="task_priority_medium">
								<i class="far fa-circle" title="Medium"></i>
								<span class="task_span">Task</span>
							</div>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
			<li class="card mt-1 task" *ngIf ="data.type == 'task' && data.priority == '4'">
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="unread1">
							<div class="task_priority_low">
								<i class="far fa-circle" title="Low"></i>
								<span class="task_span">Task</span>
							</div>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
			<li class="card mt-1 leave" *ngIf ="data.type == 'leave-accepted'" >
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="leave_approved">
							<i class="far fa-thumbs-up" title="Approved"></i>
							<span class="leave_span">Leave</span>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
			<li class="card mt-1 leave1" *ngIf ="data.type == 'leave-rejected'" >
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="leave_rejected">
							<i class="far fa-thumbs-down" title="Rejected"></i>
							<span class="leave1_span">Leave</span>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
			<li class="card mt-1 other" *ngIf ="data.type == 'other'" >
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="other1">
							<i class="far fa-bell"></i>
							<span class="other1_span">Other</span>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
			<li class="card mt-1 comment" *ngIf ="data.type == 'comment'" >

				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="comment1">
							<i class="fa fa-comments"></i>
							<span class="comment_span">Comment</span>

						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>


			<li class="card mt-1 leave" *ngIf = "data.type == 'leave'">
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="leave_approved">
							<i class="far fa-thumbs-up" title="Approved"></i>
							<span class="leave_span">Leave</span>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{data.createdAt | timeAgo}}</label>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- <li class="card mt-1 leave1" *ngIf ="data.type == 'leave'" >
		<div class="row">
			<div class="padding-5 col-sm-2">
				<div class="leave_rejected">
					<i class="far fa-thumbs-down" title="Rejected"></i>
					<span class="leave1_span">Leave</span>
				</div>
			</div>
			<div class="padding-5  col-sm-8">
				<div class="content" >
					<p innerHtml="{{data.content}}"></p>
				</div>
			</div>
			<div class="col-sm-2">
				<label style="float: right;">{{data.createdAt | timeAgo}}</label>
			</div>
		</div>
		</li>