	<div class="container-fluid" style="background-image: linear-gradient(#8bc34ab0,#85cc32)">
		<h1 class="text-center font-weight-bold text-black" >Notification</h1>
	</div>
	<div class="container">
		<ul class="task" *ngFor="let data of currentUser">
			<li class="card mt-1" *ngIf ="data.type == 'task' && data.priority == '1'">
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="unread">
							<div class="task_priority_highest">
								<i class="far fa-circle" title="Highest"></i>
								<span class="task">Task</span>
							</div>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
					</div>
				</div>
			
		</li>
		<li class="card mt-1"  *ngIf ="data.type == 'task' && data.priority == '2'">
			<div class="row">
				<div class="padding-5 col-sm-2">
					<div class="unread">
						<div class="task_priority_high">
							<i class="far fa-circle" title="High"></i>
							<span class="task">Task</span>
						</div>
					</div>
				</div>
				<div class="padding-5  col-sm-8">
					<div class="content" >
						<p innerHtml="{{data.content}}"></p>
					</div>
				</div>
				<div class="col-sm-2">
					<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
				</div>
			</div>
			
	</li>
	<li class="card mt-1" *ngIf ="data.type == 'task' && data.priority == '3'">
		<div class="row">
			<div class="padding-5 col-sm-2">
				<div class="unread">
					<div class="task_priority_medium">
						<i class="far fa-circle" title="Medium"></i>
						<span class="task">Task</span>
					</div>
				</div>
			</div>
			<div class="padding-5  col-sm-8">
				<div class="content" >
					<p innerHtml="{{data.content}}"></p>

				</div>
			</div>
			<div class="col-sm-2">
				<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
			</div>
		</div>
		
		</li>
		<li class="card mt-1" *ngIf ="data.type == 'task' && data.priority == '4'">
			<div class="row">
				<div class="padding-5 col-sm-2">
					<div class="unread">
						<div class="task_priority_low">
							<i class="far fa-circle" title="Low"></i>
							<span class="task">Task</span>
						</div>
					</div>
				</div>
				<div class="padding-5  col-sm-8">
					<div class="content" >
						<p innerHtml="{{data.content}}"></p>
					</div>
				</div>
				<div class="col-sm-2">
					<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
				</div>
			</div>
			
			</li>
		</ul>
		<ul class="leave" *ngFor="let data of currentUser">
			<li class="card mt-1"  *ngIf ="data.type == 'leave-accepted'" >
				<div class="row">
					<div class="padding-5 col-sm-2">
						<div class="leave_approved">
							<i class="far fa-thumbs-up" title="Approved"></i>
							<span class="leave">Leave</span>
						</div>
					</div>
					<div class="padding-5  col-sm-8">
						<div class="content" >
							<p innerHtml="{{data.content}}"></p>
						</div>
					</div>
					<div class="col-sm-2">
						<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
					</div>
				</div>
				
					</li>
				</ul>
				<ul class="leave1" *ngFor="let data of currentUser">
					<li class="card mt-1" *ngIf ="data.type == 'leave-rejected'" >
						<div class="row">
							<div class="padding-5 col-sm-2">
								<div class="leave_rejected">
									<i class="far fa-thumbs-down" title="Rejected"></i>
									<span class="leave1">Leave</span>
								</div>
							</div>
							<div class="padding-5  col-sm-8">
								<div class="content" >
									<p innerHtml="{{data.content}}"></p>
								</div>
							</div>
							<div class="col-sm-2">
								<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
							</div>
						</div>
					</li>
				</ul>
				<ul class="other"  *ngFor="let data of currentUser">
					<li class="card mt-1" *ngIf ="data.type == 'other'" >
						<div class="row">
							<div class="padding-5 col-sm-2">
								<div class="other">
									<i class="far fa-bell"></i>
									<span class="other">Other</span>
								</div>
							</div>
							<div class="padding-5  col-sm-8">
								<div class="content" >
									<p innerHtml="{{data.content}}"></p>
								</div>
							</div>
							<div class="col-sm-2">
								<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
							</div>
						</div>
					</li>
				</ul>
				<ul class="comment"  *ngFor="let data of currentUser">
					<li class="card mt-1" *ngIf ="data.type == 'comment'" >

						<div class="row">
							<div class="padding-5 col-sm-2">
								<div class="comment">
									<i class="fa fa-comments"></i>
									<span class="other">Comment</span>
								</div>
							</div>
							<div class="padding-5  col-sm-8">
								<div class="content" >
									<p innerHtml="{{data.content}}"></p>
								</div>
							</div>
							<div class="col-sm-2">
								<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
							</div>
						</div>
					</li>
				</ul>
					
					<ul class="leave" *ngFor="let data of currentUser">
						<li class="card mt-1"  *ngIf ="data.type == 'leaveAccepted'" >
							<div class="row">
								<div class="padding-5 col-sm-2">
									<div class="leave_approved">
										<i class="far fa-thumbs-up" title="Approved"></i>
										<span class="leave">Leave</span>
									</div>
								</div>
								<div class="padding-5  col-sm-8">
									<div class="content" >
										<p innerHtml="{{data.content}}"></p>
									</div>
								</div>
								<div class="col-sm-2">
									<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
								</div>
							</div>
							<!-- <table >
								<tr >
									<td class="padding-5">
										<div class="leave_approved">
											<i class="far fa-thumbs-up" title="Approved"></i>
										</div>
									</td>
									<td class="padding-5">
										<div class="leave"> 	
											<span>Leave</span>
										</div>
									</td>
									<td class="padding-5">
										<div class="content">
											<p innerHtml="{{data.content}}"></p>
											<label>{{getHHMMTime(data.createdAt)}}</label>
										</div>
									</td>

								</tr>
							</table> -->
						</li>
					</ul>
					<ul class="leave1" *ngFor="let data of currentUser">
						<li class="card mt-1" *ngIf ="data.type == 'leaveRejected'" >
							<div class="row">
							<div class="padding-5 col-sm-2">
								<div class="leave_rejected">
									<i class="far fa-thumbs-down" title="Rejected"></i>
									<span class="leave1">Leave</span>
								</div>
							</div>
							<div class="padding-5  col-sm-8">
								<div class="content" >
									<p innerHtml="{{data.content}}"></p>
								</div>
							</div>
							<div class="col-sm-2">
								<label style="float: right;">{{getHHMMTime(data.createdAt)}}</label>
							</div>
						</div>
						</li>
					</ul>
				</div>
