<div class="container">
			<!-- <div class="header_top">
				<button class="btn btn-outline-default">
					filter
				</button>
			</div> -->
			<div class="notification">
				<ul class="task">
					<li class="card mt-1 unread unread">
						<table>
							<tr>
								<td class="padding-5">
									<div class="task_priority_highest">
										<i class="far fa-circle"></i>
									</div>
								</td>
								<td class="padding-5">
									<div class="task"> 	
										<span>Task</span>
									</div>
								</td>
								<td class="padding-5">
									<div class="content">
										<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
										<label>April-05 at 3:25 pm</label>
									</div>
								</td>
								<td>
									<div class="profile mr-2 z-depth-1"> 	
										<img src="../assets/avatar/bookshelf.png">
									</div>
								</td>
							<!-- <td class="padding-5">
								<div class="task_priority_highest">
									<i class="far fa-circle warning"></i>
								</div>
							</td> -->
							
						</tr>
					</table>
				</li>
				<li class="card mt-1 unread">
					<table>
						<tr>
							<td class="padding-5">
								<div class="task_priority_high">
									<i class="far fa-circle"></i>
								</div>
							</td>
							<td class="padding-5">
								<div class="task"> 	
									<span>Task</span>
								</div>
							</td>
							<td class="padding-5">
								<div class="content">
									<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
									<label>April-05 at 3:25 pm</label>
								</div>
							</td>
							<td>
								<div class="profile mr-2 z-depth-1"> 	
									<img src="../assets/avatar/medicine.png">
								</div>
							</td>
						</tr>
					</table>
				</li>
				<li class="card mt-1 unread">
					<table>
						<tr>
							<td class="padding-5">
								<div class="task_priority_medium">
									<i class="far fa-circle"></i>
								</div>
							</td>
							<td class="padding-5">
								<div class="task"> 	
									<span>Task</span>
								</div>
							</td>
							<td class="padding-5">
								<div class="content">
									<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
									<label>April-05 at 3:25 pm</label>
								</div>
							</td>
							<td>
								<div class="profile mr-2 z-depth-1"> 	
									<img src="../assets/avatar/police-car.png">
								</div>
							</td>
						</tr>
					</table>
				</li>
				<li class="card mt-1">
					<table>
						<tr>
							<td class="padding-5">
								<div class="task_priority_low">
									<i class="far fa-circle"></i>
								</div>
							</td>
							<td class="padding-5">
								<div class="task"> 	
									<span>Task</span>
								</div>
							</td>
							<td class="padding-5">
								<div class="content">
									<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
									<label>April-05 at 3:25 pm</label>
								</div>
							</td>
							<td>
								<div class="profile mr-2 z-depth-1"> 	
									<img src="../assets/avatar/project-management.png">
								</div>
							</td>
						</tr>
					</table>
				</li>
			</ul>
			<ul class="leave">
				<li class="card mt-1 unread">
					<table>
						<tr>
							<td class="padding-5">
								<div class="leave_approved">
									<i class="far fa-thumbs-up"></i>
								</div>
							</td>
							<td class="padding-5">
								<div class="leave"> 	
									<span>Leave</span>
								</div>
							</td>
							<td class="padding-5">
								<div class="content">
									<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
									<label>April-05 at 3:25 pm</label>
								</div>
							</td>
							<td>
								<div class="profile_dp mr-2 z-depth-1"> 	
									<img src="../assets/5.jpg">
								</div>
							</td>
						</tr>
					</table>
				</li>
				<li class="card mt-1">
					<table>
						<tr>
							<td class="padding-5">
								<div class="leave_rejected">
									<i class="far fa-thumbs-down"></i>
								</div>
							</td>
							<td class="padding-5">
								<div class="leave"> 	
									<span>Leave</span>
								</div>
							</td>
							<td class="padding-5">
								<div class="content">
									<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
									<label>April-05 at 3:25 pm</label>
								</div>
							</td>
							<td>
								<div class="profile_dp mr-2 z-depth-1"> 	
									<img src="../assets/5.jpg">
								</div>
							</td>
						</tr>
					</table>
				</li>
			</ul>
			<ul class="other">
				<li class="card mt-1 unread">
					<table>
						<tr>
							<td class="padding-5">
								<div class="other">
									<i class="far fa-bell"></i>
								</div>
							</td>
							<td class="padding-5">
								<div class="other"> 	
									<span>Other</span>
								</div>
							</td>
							<td class="padding-5">
								<div class="content">
									<p>A new issue in (project name) <b>PMT</b> is been created by (Project manager name) <b>Vivek B.</b> and assigned to you.</p>
									<label>April-05 at 3:25 pm</label>
								</div>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
