<div class="row">
  <div class="form-group col-md-12">
    <select class="browser-default custom-select custom-select-lg mb-1" id="projectId" *ngIf="projectTeam" (change)="getTaskOfDeveloper(trackChangeDeveloperWise = $event.target.value)">
      <option value="all" selected>Select Team Members</option>
      <option *ngFor="let team of projectTeam"  value="{{team._id}}">{{team.name}}</option>
    </select>
  </div>
</div>
<div>
<h3 class="card-header-title"><span class="icon-clock mr-1"></span> Task</h3>   
  <div *ngIf="displayTable">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th class="th-lg">
                <span>Task</span>
              </th>
              <th class="th-lg">
                <span>Unique-Id</span>
              </th>
              <th class="th-lg">
                <span>Status</span>
              </th>
              <th class="th-lg">
                <span>Time Taken</span>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let task of tasks ">
            <tr *ngIf="task.status == 'testing' || task.status == 'complete'">
              <td>{{task.title}}</td>
              <td>{{task.uniqueId}}</td>
              <td>{{task.status}}</td>
              <td>{{getHHMMTime(task.timelog1.difference)}}</td>  
            </tr>  
          </tbody>  
        </table>
      </div>
  </div>
</div>