<div class="container mt-5 deep-purple-skin">
	<div class="card">
		<h5 class="card-header white-text text-center py-4">
			<strong>Reset Password</strong>
		</h5>
		<div class="card-body px-lg-5 pt-1">
			<form [formGroup]="resetPasswordForm">
				<div class="form-group">
					<label for="email">E-mail</label>
					<input type="email" formControlName="email" class="form-control">
				</div>

				<div class="form-group">
					<label for="currentpassword">Current Password</label>
					<input type="password" formControlName="currentPassword" class="form-control">
				</div>

				<div class="form-group">
					<label for="newpassword">New Password</label>
					<input type="password" formControlName="newPassword" class="form-control">
				</div>

				<div class="form-group">
					<label for="confirmpassword">Confirm Password</label>
					<input type="password" formControlName="confirmPassword" class="form-control" (input)="comparePassword(resetPasswordForm)"> 
					<!-- (keyup)="comparePassword(resetPasswordForm)"> -->

				</div>
				<div class="form-group">
					<button class="btn btn-default" (click)="resetPassword()" [disabled]="!resetPasswordForm.valid || !match">Update Password</button>
					<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>