<div class="loader" [hidden]="!loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="container" [hidden]="loader">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
					<h3 class="card-header-title mb-1"><span class="icon-lock"></span> Change Password</h3>
				<div class="card-body  card-body-cascade text-center px-lg-5" style="padding-top: 35px;">
					<div class="container">
						<form [formGroup]="resetPasswordForm">
							<div class="md-form">
								<span class="icon-envelope prefix"></span>
								<input type="email"  id="form2" autocomplete= 'false | random-string' formControlName="email"  class="form-control validate">
								<label for="inputValidationEx" data-error="wrong">Type your email</label>
							</div>

							<div class="md-form">
								<span class="icon-lock-open prefix"></span>
								<input type="password"  id="form2" autocomplete="new-password"  formControlName="currentPassword" id="currentpassword"  class="form-control validate">
								<label for="currentpassword" data-error="wrong">Current password</label>
							</div>

							<div class="md-form">
								<span class="icon-lock prefix"></span>
								<input type="password"  formControlName="newPassword" id="newpassword"  class="form-control validate">
								<label for="newpassword" data-error="wrong">New Password</label>
							</div>

							<div class="md-form">
								<span class="icon-check prefix"></span>
								<input type="password" formControlName="confirmPassword"  id="confirmpassword"  class="form-control validate" (input)="comparePassword(resetPasswordForm)"> 
								<label for="confirmpassword" data-error="wrong" data-success="right">Confirm Password</label>
							</div>

							<div class="form-group">
								<button class="btn btn-default" (click)="resetPassword()" [disabled]="!resetPasswordForm.valid || !match">Update Password</button>
								<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>