p{
  padding-left: 10px;

}

img{
  
  border-radius: 50%;
}
.label_text{
  background-color: lightgray;
  border-radius:50%;
  padding-left: 10px;
  margin-left: 5px;
  padding-right: 9px;

}

.col-sm-3>.card{
  padding: 5px 10px 0;
}

.col-sm-3 .card .card-header{
  padding: 5px 0;
}

.board {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;

  overflow-x: auto;
  overflow-y: hidden;
}


.card-list {
  height:auto;
  width: calc(25% - 6px);
  overflow: auto;
  box-sizing: border-box;
  margin-right: 8px;
  flex-shrink: 0;

  /*background: rgba(0, 0, 0, 0.03);*/
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}



.card-list:last-child{
  margin-right: 0px;
}
.card-list h2 {
  margin-bottom: 5px;
}

.card-list button {
  flex-shrink: 0;
  margin-top: 10px;
}

.card-list-content {
  /*overflow: auto;
  flex-grow: 1;*/
  background-color: #dee2e6;
  min-height: 100px;
}

.cdk-drag-animating, .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  opacity: 0;
}

.team-members li{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  text-align: center;
  padding: 10px 4px;
  font-weight: 700;
  font-size: 14px;
  background-color: #55b0ab;
  float: left;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
  -moz-box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
  box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
  position: relative;
}

.team-members li:hover{
  z-index: 1;
}

.team-members li.add-member{
  margin-right: 0;
  padding: 8px 12px;
}

.team-members li a{
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 0px;
}
td[colspan="2"] {
  padding: 5px 0px;
}
table {
  width: 100%;
}

label{
  margin: 0;
}
.priority-text{
  text-transform: capitalize;
}
.priority-text span{
  margin-right: 5px;
  display: inline-flex;
}
#fullHeightModalRight {
  overflow: hidden !important;
}
#fullHeightModalRight .modal-dialog.modal-lg{
  height: 100%!important;
}
#fullHeightModalRight .modal-body{
  overflow-y: auto!important;
}