<header>
  <!-- SideNav slide-out button -->
  <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse"><i class="fas fa-bars"></i></a>
  <!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="profile_section" routerLink="/userprofile/{{currentUser._id}}">
         <div class="profile_picture" >
           <img src="{{path}}{{currentUser.profilePhoto}}"  class="img-rounded" onerror="this.src='assets/4.jpeg'">
         </div>
         <div class="user_name text-center">
           <h2>{{currentUser.name}}</h2>
         </div>
       </div>
     </li>
     <!--Social-->
     <li class="icon">
      <ul class="social">
        <li><a href="https://www.facebook.com/raoinformationtechnology/" class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
        <li><a href="https://www.instagram.com/raoinformationtechnology.insta/" class="icons-sm insta-ic"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/company/raoinformationtechnology/" class="icons-sm il-ic"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/RaoInfotech" class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>
      </ul>
    </li>
    
    <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <li><a class="collapsible-header waves-effect arrow-r"><span routerLink="/view-projects"><i class="fas fa-tasks"></i>  Projects</span>
          <i class="fa fa-angle-down rotate-icon"></i>
          <i class="fa fa-refresh" aria-hidden="true" (click)="getProjects()"></i></a>
          <div class="collapsible-body">
            <ul>
              <li *ngFor="let project of projects">
                <a routerLink="/project-details/{{project._id}}" class="collapsible-header waves-effect" style="width: 100%;"><i class="fa fa-bar-chart"></i>{{project.title}}</a></li>
              </ul>
            </div>
          </li>
          <li *ngIf="currentUser.userRole=='projectManager'"><a routerLink="/create-project" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="fas fa-user-edit"></i>Create Project</a>
          </li>
          <li><a routerLink="/all-item-list" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="fas fa-sitemap"></i>    Item List</a></li>
          <!--  <li><a routerLink="/logs" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="fas fa-blog"></i>     Logs</a></li> -->
          <li *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' "><a routerLink="/add-notice" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="fas fa-flag-checkered"></i> Add Notice</a></li>
          <li><a routerLink="/noticeboard" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="fas fa-chalkboard-teacher"></i>   Notice Board</a></li>

          <li *ngIf="currentUser.userRole=='admin' "><a routerLink="/add-employee" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="fas fa-flag-checkered"></i>   Add Employee</a></li>


          <li *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
            <a routerLink="/all-employee" style="width: 100%;" class="collapsible-header waves-effect arrow-r"><i class="far fa-user"></i> All Employee</a></li>
            <li *ngIf="currentUser.userRole=='admin'"><a style="width: 100%;" class="collapsible-header waves-effect arrow-r">Visit Team-members
             <i class="fa fa-angle-down rotate-icon"></i></a>


             <div class="collapsible-body">
              <ul>
                <li *ngFor="let project of projects">
                  <a routerLink="/project-team/{{project._id}}" class="collapsible-header waves-effect" style="width: 100%;"><i class="fa fa-bar-chart"></i>{{project.title}}</a></li>
                </ul>
              </div>
            </li>
            <li *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' "><a routerLink="/all-leave-app" style="width: 100%;" class="collapsible-header waves-effect arrow-r">All Leave Application</a></li>
            <li *ngIf="currentUser.userRole=='user' "><a routerLink="/leave" style="width: 100%;" class="collapsible-header waves-effect arrow-r">Leave Form</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <nav class="navbar fixed-top navbar-toggleable-md morpheus-den-gradient navbar-dark scrolling-navbar double-nav">
      <div class="float-left">
        <ol class="breadcrumb hidden-lg-down">
          <li><a data-activates="slide-out" class="button-collapse" ><i class="fa fa-bars"></i></a></li>
          <li class="breadcrumb-item active"><a>Dashboard</a></li>
        </ol>
      </div>
    </nav>
  </header>


  <div class="collapsible-body">
    <ul>
      <li *ngFor="let project of projects">
        <a routerLink="/project-team/{{project._id}}" class="collapsible-header waves-effect" style="width: 100%;"><i class="fa fa-bar-chart"></i>{{project.title}}</a></li>
        <li *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin' "><a routerLink="/all-leave-app" style="width: 100%;" class="collapsible-header waves-effect arrow-r">All Leave Application</a></li>
        <li *ngIf="currentUser.userRole=='user' "><a routerLink="/leave" style="width: 100%;" class="collapsible-header waves-effect arrow-r">Leave Form</a></li>
      </ul>
    </div>
    <nav class="navbar fixed-top navbar-toggleable-md morpheus-den-gradient navbar-dark scrolling-navbar double-nav">
      <div class="float-left">
        <ol class="breadcrumb hidden-lg-down">
          <li><a data-activates="slide-out" class="button-collapse" ><i class="fa fa-bars"></i></a></li>
          <li class="breadcrumb-item active"><a>Dashboard</a></li>
        </ol>
      </div>
    </nav>

    <div class="side_fixed_nav">
      <div class="top_icon">
        <div class="second_icon">
          <a href="" class="star_link " data-toggle="tooltip"  title="Starred and recent(\)" data-placement="right"><i class="far fa-star" aria-hidden="true"></i></a>
        </div>
        <div class="second_icon">
          <a href="" class="star_link" title="Search(\)" data-toggle="tooltip" data-placement="right"><i class="fa fa-search" aria-hidden="true" ></i></a>
        </div> 
        <div class="second_icondropdown" id="plus_details" *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin'">
          <a href="" class="star_link" title="Create(c)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true" ></i></a>
          <div class="dropdown-menu">
            <a class="dropdown-item"  [routerLink]="['/create-project']">Project</a>
            <a class="dropdown-item" (click)="addItem('Task')">Task</a>
            <a class="dropdown-item" (click)="addItem('Bug')">Bug</a>
            <a class="dropdown-item" (click)="addItem('Issue')">Issue</a>
            <!-- <a class="dropdown-item" [routerLink]="['/add-team']">Add Team</a> -->
          </div>
        </div>
      </div>

      <div class="bottom_icon">
        <div class="second_icon">
          <a href="" class="star_link" title="Notifications" data-toggle="tooltip" data-placement="right"><i class="fa fa-bell" aria-hidden="true" ></i></a>
        </div>  
        <div class="second_icon">
          <a href="" class="star_link" title="Switch to..." data-toggle="tooltip" data-placement="right"><i class="fa fa-th" aria-hidden="true" ></i> </a>
        </div>
        <div class="second_icon">
          <a href="" class="star_link" title="Help" data-toggle="tooltip" data-placement="right"><i class="fa fa-question-circle" aria-hidden="true" ></i></a>
        </div>
        <div class="second_icon dropdown">
          <a href=""  class="star_link" data-toggle="tooltip" title="Your profile and settings" data-placement="right"></a>
          <ul class="team-members">
            <li id="login_details">
              <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <div class="user_profile_pic"><img src="{{path}}{{currentUser.profilePhoto}}" class="img-rounded" onerror="this.src='assets/4.jpeg'" ></div></a>
              <div class="dropdown-menu"> 
                <a class="dropdown-item" (click)="logout()">Log Out</a>
                <a  class="dropdown-item" routerLink="/userprofile/{{currentUser._id}}">My Profile</a>
              </div>
            </li>   
          </ul>
        </div> 
      </div>
    </div>
    <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg container" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100 text-center" id="myModalLabel">{{modalTitle}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form style="width: 100%;" [formGroup]="editTaskForm">
                <div class="form-group col-12 col-lg-12 pt-1">
             <!--  <label for="projectId">Select Project</label>
              <select  class="browser-default custom-select custom-select-lg mb-1" id="projectId" formControlName="projectId" (change)="projectSelected($event.target.value)">
                <option *ngFor="let team of projects" value="{{team._id}}">{{team.title}}</option>
              </select> -->
              <ng-select placeholder="Select Project" [items]="projects" bindLabel="title" bindValue="_id" [closeOnSelect]="true" formControlName="projectId" (change)="projectSelected($event)">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label"><img src="{{path}}{{item.avatar}}" onerror="this.src='assets/icons/avatar.png'" width="20px" height="20px"> {{item.title}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </ng-template>
                <div class="row">
                  <ng-template ng-option-tmp let-item="item">
                    <div class="card testimonial-card">
                      <div class="card-up deep-purple lighten-2"></div>
                      <div class="avatar white img_section">
                        <img src="{{path}}{{item.avatar}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title mt-1">{{item.title}}</h5>
                        <h6 class="card-title">{{item.uniqueId}}</h6>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </ng-select>
            </div>
            <div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div [hidden]="!task.projectId">
              <div class="form-group col-12">
                <label for="title">Title</label>
                <input type="text" id="title" formControlName="title" [(ngModel)]="task.title" class="form-control">
              </div>
              <div class="form-group col-12">
                <label for="desc">Discription</label>
                <textarea id="desc" formControlName="desc" [(ngModel)]="task.desc" class="form-control md-textarea"></textarea>
              </div>
              <div class=" row form-group col-12">
                <button class="btn btn-default" (click)="fileUpload.click()">
                  <i class="fa fa-paperclip mr-1"></i> Add Files
                  <input type="file" name="uploadedFiles" #fileUpload (change)="onSelectFile($event)" hidden multiple accept="image/png, image/jpg, image/jpeg">
                </button>
              </div>
              <div class="row no-margin no-padding  border" >
                <div class="form-group col-12 col-lg-6 pt-1">
                  <label for="assignTo">Assign To</label>
                  <select  class="browser-default custom-select custom-select-lg mb-1" id="assignTo" formControlName="assignTo" *ngIf="task.assignTo" [(ngModel)]="task.assignTo._id">
                    <option *ngFor="let team of developers" value="{{team._id}}">{{team.name}}</option>
                  </select>
                  <select  class="browser-default custom-select custom-select-lg mb-1" id="assignTo" formControlName="assignTo" *ngIf="!task.assignTo">
                    <option *ngFor="let team of developers" value="{{team._id}}">{{team.name}}</option>
                  </select>
                </div>
                <div class="form-group col-12 col-lg-6 pt-1">
                  <label for="priority">Priority</label>
                  <select class="browser-default custom-select custom-select-lg mb-1" id="priority" formControlName="priority" [(ngModel)]="task.priority">
                    <option value="4">Low</option>
                    <option value="3">Medium</option>
                    <option value="2">High</option>
                    <option value="1">Highest</option>
                  </select>
                </div>
                <div class="form-group col-6">
                  <label for="dueDate">Due Days</label>
                  <input placeholder="Selected days" id="dueDate" type="text" formControlName="dueDate" [(ngModel)]="task.dueDate" class="form-control">
                </div>

                <div class="form-group col-6">
                  <label for="estimatedTime">Estimated Time</label>
                  <div class="md-form form-group">
                    <!-- <input placeholder="Selected date" type="text" id="estimatedTime" class="form-control ti" formControlName="estimatedTime"> -->
                    <input placeholder="Estimated Time" type="text" id="estimatedTime" class="form-control timepicker" formControlName="estimatedTime" [(ngModel)]="task.estimatedTime">
                  </div>
                </div>
              </div>

              <div class="form-group col-12">
                <label for="status">Status</label>
                <select class="browser-default custom-select custom-select-lg mb-3" id="status" formControlName="status" [(ngModel)]="task.status">
                  <option *ngFor="let trak of tracks" value="{{trak.id}}">{{trak.title}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer float-right">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default btn-lg" (click)="saveTheData(editTaskForm.value)" [disabled]="!editTaskForm.valid || loader">Save changes</button>
      </div>
    </div>
  </div>
</div>