<h3 class="card-header-title"><span class="icon-note"></span> Create Notice</h3>
<div class="card" >
	<div class="card-body">
		<form class="md-form" [formGroup]='addForm' role="form" style="color: #757575;">
			<div class="md-form form-group">
				<label for="projecttitle" style="margin: 0; padding: 0;">Notice Title</label>
				<input type="text" autocomplete= 'false | random-string' id="projecttitle"  formControlName="title" class="form-control">
			</div>
			<div class="md-form form-group">
				<label for="desc" style="margin: 0; padding: 0;">Notice Content</label>
				<textarea style="margin: 0; padding: 0;" id="desc" rows="5" formControlName="desc" class="form-control rounded-0 md-textarea"></textarea>
			</div>
			<div class="row"> 
				<div class="col-md-6">
					<div class="md-form form-group">
						<input placeholder="Notice date" formControlName="expireon" type="text" id="expireon" class="form-control datepicker icon-calendar">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="switch">
							<label>
								Publish False
								<input type="checkbox" formControlName="published">
								<span class="lever"></span>Publish True
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group float-left">
				<button class="btn btn-primary" (click)="fileUpload.click()">
					<i class="icon-paper-clip mr-1"></i> Add Files
					<input type="file" formControlName="images" name="uploadedFiles" #fileUpload id="fileUpload"  (change)="changeFile($event, 'item')" hidden multiple accept="image/png, image/jpeg, image/jpg">
				</button>
				<button type="submit" class="btn btn-default" (click)="addNotice(addForm.value)"><span class="icon-plus"></span> Create Notice</button>
			</div>
			<div *ngIf="url && url.length">
				<div class="text-center selected-avatar" *ngFor="let u of url; let i=index;">
					<img class="avatar-image margin-auto" [src]="u" style="height: 150px; width: 150px;">
					<div class="delete-team-member">
						<a href="javascript:void(0);" (click)="removeAvatar(u, i)"><i class="icon-trash fa-2x"></i></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>