<!-- <div class="container">
	<div class="row ">
		<div class="col-12 profile_image">
					<div class="profile_image_box ng-star-inserted" title="Profile Image" touranchor="change-profile" ng-reflect-tour-anchor="change-profile">
						<input type="file" id="profile" name="fileUpload" (change)="uploadFile($event)" accept=".jpg, .png, .jpeg" hidden="true" style="display:none;">
						<label for="profile" class="profile_and_cover_edit" title="Change Profile"><i class="fas fa-edit"></i></label>
						<div  class="image_box_profile_image">
							<img onerror="this.src='../assets/man.png'" src="{{path}}{{currentUser.profilePhoto}}">
						</div>
					</div>
				</div>	

				<div class="tabbar">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about"
							aria-selected="true">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="leave-tab" data-toggle="tab" href="#leave" role="tab" aria-controls="leave"
							aria-selected="false">Projects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="notify-tab" data-toggle="tab" href="#myModalLabel" role="tab" aria-controls="notify" (click)="openModel('task')"
							aria-selected="false">Notify</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
							<div class="card about_detail" style="border-radius: 5px;">
								<h5 class="text-bold">{{currentUser.name | uppercase}}</h5>
								<span><i class="fas fa-envelope"></i> <label class="txt_label">{{currentUser.email}}</label></span>
								<span><i class="fas fa-user-alt"></i><label class="txt_label">{{currentUser.userRole}}</label></span>
								<span><label class="txt_label"> Other details </label></span>
								<button type="button" class="btn btn-default" style="width: 21%;" routerLink="/editprofile/{{currentUser._id}}"><i class="far fa-edit"></i> Edit profile</button>
							</div>
						</div>
						<div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="leave-tab">

							<div class="card about_detail" style="border-radius: 5px;">
								<div class="form-group">
									<h5 class="text-bold" style="text-transform: uppercase;">My All Projects  </h5>
									<ul>
										<li  *ngFor = "let project of finalArr" style="cursor: pointer;"> 
											<div class="row" style="margin-top: 5px;">
												<div class="col col-1" *ngIf="project">
													<img src="{{path}}{{project.avatar}}" class="avatar_image" onerror="this.src='assets/4.jpeg'" >
												</div>
												<div class="col col-11" *ngIf="project"> 
													<label class="txt_label1" routerLink="/user-summary/{{currentUser._id}}/{{project._id}}">{{project.title}}</label>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
</div>
</div>
<div class="modal fade center" id="editEmailModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">title</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<form style="width: 100%;" [formGroup]="editTEmail">
						<ng-select placeholder="Select Project" [items]="projects" bindLabel="title" bindValue="_id" [closeOnSelect]="true" formControlName="projectId" (change)="projectSelected($event)">
							<ng-template ng-label-tmp let-item="item" let-clear="clear">
								<span class="ng-value-label">{{item.title}}</span>
								<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
							</ng-template>
							<div class="row">
								<ng-template ng-option-tmp let-item="item">
									<div class="card testimonial-card">
										<div class="card-up deep-purple lighten-2"></div>
										<div class="card-body">
											<h5 class="card-title mt-1">{{item.title}}</h5>
											<h6 class="card-title">{{item.uniqueId}}</h6>
										</div>
									</div>
								</ng-template>
							</div>
						</ng-select>
						<div class="form-group col-12">
							<div class="form-group">
								<div class="md-form">
									<label for="inputMDEx">Subject</label>
									<input type="text" id="inputMDEx" class="form-control"formControlName="subject">
								</div>
							</div>
						</div>
						<div class="form-group col-12">
							<div class="form-group">
								<div class="md-form">
									<label for="inputMDEx">Content</label>
									<input type="text" id="inputMDEx" class="form-control"formControlName="content">
								</div>
							</div>
						</div>
						<div class="form-group col-12">
							<label for="inputMDEx">Send To</label>
							<select class="browser-default custom-select custom-select-lg mb-3"  *ngIf="teams"  id="sendTo" formControlName="sendTo" >
								<option value="{{this.total}}" selected>All Team</option>
								<option *ngFor="let team of teams" value="{{team._id}}">{{team.name}}</option>
							</select>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-lg" (click)="addNotification(editTEmail)">Send</button>
			</div>
		</div>
	</div>
</div>
-->
<div class="container"> 
	<div class="row margin-bottom-15">
		<div class="col-md-4">
			<div class="profile_img">
				<img src="../assets/5.jpg" alt="profile pic">
				<div class="profile_image_box ng-star-inserted" title="Profile Image" touranchor="change-profile" ng-reflect-tour-anchor="change-profile">
					<input type="file" id="profile" name="fileUpload" (change)="uploadFile($event)" accept=".jpg, .png, .jpeg" hidden="true" style="display:none;">
					<label for="profile" class="profile_and_cover_edit" title="Change Profile"><i class="fas fa-edit"></i></label>
					<div  class="image_box_profile_image">
						<img onerror="this.src='../assets/man.png'" src="{{path}}{{currentUser.profilePhoto}}">
					</div>
				</div>
			</div>
			<div class="name">
				<span>Swati Chauhan</span>
			</div>
			<ul class="nav md-pills pills-primary flex-column" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#panel21" role="tab">About
						<i class="fas fa-user-alt"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#panel22" role="tab">Projects
						<i class="fas fa-project-diagram"></i>
					</a>
				</li>
				<li class="nav-item" *ngIf="currentUser.userRole=='projectManager' || currentUser.userRole=='admin'">
					<a class="nav-link" data-toggle="tab" href="#panel23" role="tab">Notify
						<i class="far fa-bell"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="tab-content vertical">
				<div class="tab-pane fade in show active" id="panel21" role="tabpanel">
					<div class="card z-depth padding-15">
						<h2>{{currentUser.name}}</h2>
						<p><i class="fas fa-envelope"></i> {{currentUser.email}}</p>
					</div>
				</div>
				<div class="tab-pane fade" id="panel22" role="tabpanel">
					<div class="row">
						<div class="card">
							<div class="container project">
								<h2>Projects <i class="fas fa-project-diagram"></i></h2>
								<div *ngIf="project">
									<img src="{{path}}{{project.avatar}}" class="avatar_image" onerror="this.src='../assets/4.jpeg'" >
									<label class="txt_label1" routerLink="/user-summary/{{currentUser._id}}/{{project._id}}">{{project.title}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="panel23" role="tabpanel">
					<div class="card">
						<div class="container notify">
							<h2>Notify <i class="far fa-bell"></i></h2>
							<form [formGroup]="editTEmail">
								<ng-select placeholder="Select Project" [items]="projects" bindLabel="title" bindValue="_id" [closeOnSelect]="true" formControlName="projectId" (change)="projectSelected($event)">
									<ng-template ng-label-tmp let-item="item" let-clear="clear">
										<span class="ng-value-label">{{item.title}}</span>
										<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
									</ng-template>
									<div class="row">
										<ng-template ng-option-tmp let-item="item">
											<h5 class="mt-1">{{item.title}}</h5>
											<h6>{{item.uniqueId}}</h6>
										</ng-template>
									</div>
								</ng-select>
								<div class="form-group">
									<div class="form-group">
										<div class="md-form">
											<label for="inputMDEx">Subject</label>
											<input type="text" id="inputMDEx" class="form-control"formControlName="subject">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="form-group">
										<div class="md-form">
											<label for="inputMDEx">Content</label>
											<input type="text" id="inputMDEx" class="form-control"formControlName="content">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputMDEx">Send To</label>
									<select class="browser-default custom-select custom-select-lg mb-3" id="sendTo" formControlName="sendTo" >
										<option value="{{this.total}}" selected>All Team</option>
										<option *ngFor="let team of teams" value="{{team._id}}">{{team.name}}</option>
									</select>
								</div>
								<button type="button" class="btn btn-outline-default" (click)="addNotification(editTEmail)">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>