<div class="container">
	<div class="row">
		<div class="col-12 col-md-3">
			<div class="card img_card">
				<div class="profile_picture">
					<img class="img-fluid" src="../assets/a.png">
					<div class="update_pic">
						<div class="form-group">
							<label class="profile_icon"><i class="fa fa-camera" aria-hidden="true"></i></label>
							<input type="file" id="profile" name="fileUpload" hidden="true" style="display:none;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-9">
			<div class="user_detail">
				<p> iyureyrt</p>
				<p>yiuytutyu </p>
				<p> yiuitryrty</p>
				<p>iuyytuyuy </p>
			</div>
		</div>
	</div>
	<div class="user_activity">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
				aria-selected="true">User Activity</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
				aria-selected="false">Summary</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
				aria-selected="false">Contact</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<div class="form-group">
					<ul  *ngIf="currentUser.userRole =='user'">
						<li> My Projects  {{finalarr.length}}</li> <br>
						<li *ngFor = "let project of finalarr">{{project.title}}</li>
					</ul>
				</div>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">rtgyhtjuy.</div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">fdgrefgtryhht.</div>
		</div>
	</div>
</div>
