<div class="container">
	<div class="row">
		<div class="col-12 col-md-3">
			<div class="card img_card">
				<div class="profile_picture" ngFor="developer of developers">
					<img  src="{{path}}{{developer.profilePhoto}}" class="img-fluid" onerror ="this.src ='assets/6.jpg'">
				</div>
			</div>
		</div>
		<div class="col-12 col-md-9">
			<div class="user_detail">
				<p *ngFor="let developer of developers"></p>
				<p>{{developer.name}}</p>
				<p>{{developer.email}}</p>
				<p> {{developer.userRole}} </p>
				<p> Other Details </p>
			</div>
		</div>
	</div>
	<div class="user_activity">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
				aria-selected="true">User Activity</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
				aria-selected="false">Summary</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
				aria-selected="false">Contact</a>
			</li>
		</ul>
	</div>
</div>

