
/*.img_card{
	
	height: 160px;
	width: 180px;
}*/
.profile_icon{
	margin-top: 50px;
	margin-left: 85px;
}
.nav-tabs .nav-link.active {
	background-color: #42396D;
}
.user_detail{
	margin-top: 20px;
	margin-left: 20px;
}
.nav-link{
	color: black
}
.user_activity{
	margin-left: -16px; 
}
.img_card img{
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}