<div class="loader" [hidden]="!loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="container" [hidden]="loader">
	<form class="md-form" [formGroup]='updateForm' style="color: #757575;">
		<div class="card">
			<h5 class="card-header white-text" style="margin: -35px 30px 0px 30px;background-color: #372e5f; height: 69px; font-size: 26px; padding: 20px 0px; text-align: center;">
				Edit Project
			</h5>
			<button class="btn btn-default btn-rounded z-depth-1 deletebtn" (click)="deleteProject(availData)" style="margin-top: -25px; margin-right:50px; background-color: #dc3545;">Delete Project</button>
			<div class="card-body px-lg-5 pt-1">
				<div class="md-form form-group" *ngIf="availData">
					<img src="{{baseMediaUrl}}{{availData.avatar}}" onerror="this.src='assets/4.jpeg'" height="100" width="100">
				</div>
				<div class="md-form form-group" *ngIf="availData">
					<input mdbInput type="text" id="projecttitle" class="form-control" formControlName="title" [(ngModel)]="availData.title" >
					<label for="projecttitle" class="active" >Project Title</label>
				</div>
				<div class="md-form form-group" *ngIf="availData">
					<input mdbInput type="text" id="desc" class="form-control" formControlName="desc" [(ngModel)]="availData.desc" >
					<label for="desc" class="active" >Project Discription</label>
				</div>
				<div class="md-form form-group"  *ngIf="availData" [hidden]="!availData && !availData.deadline">
					<label for="date-picker-example">Deadline</label>
					<input type="text" id="date-picker"	formControlName="deadline"	class="form-control datepicker" ngModel="{{availData.deadline | date:'mediumDate' }}" >
				</div>
				<div>
					<h3><strong>Client Details :-</strong></h3>
				</div>
				<hr>
				<div class="md-form form-group" *ngIf="availData">
					<input mdbInput type="email" id="clientemail" class="form-control" formControlName="clientEmail" [(ngModel)]="availData.clientEmail">
					<label for="clientemail" class="active">Email</label>
				</div>
				<div class="md-form form-group" *ngIf="availData">
					<input mdbInput type="text" id="clientfullname" class="form-control" formControlName="clientFullName" [(ngModel)]="availData.clientFullName">
					<label for="clientfullname" class="active">Full Name</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="md-form form-group" *ngIf="availData">
							<label for="clientcontactno" class="active">Contact No.</label>
							<input mdbInput type="tel" id="clientcontactno" formControlName="clientContactNo" [(ngModel)]="availData.clientContactNo" class="form-control">
						</div>	
					</div>
					<div class="col-md-6">
						<div class="md-form form-group" *ngIf="availData">
							<input mdbInput type="text" id="clientdesignation" class="form-control" formControlName="clientDesignation" [(ngModel)]="availData.clientDesignation">
							<label for="clientdesignation" class="active">Designation</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mt-1 p-1">
			<h3 class="card-title text-center pt-3">Project Teams:</h3>
			<div class="card-body">
				<div class="container">
					<div class="form-group">
						<ng-select placeholder="Select Developers" [items]="availableDevelopers" [multiple]="true" bindLabel="name" bindValue="_id" [closeOnSelect]="false" formControlName="Teams" (add)="addDeveloper($event)" (remove)="removeDeveloper($event.value)" (clear)="clearSelection($event)">
							<ng-template ng-label-tmp let-item="item" let-clear="clear">
								<span class="ng-value-label"><img [src]="item.profilePhoto" onerror="this.src='assets/icons/avatar.png'" width="20px" height="20px"> {{item.name}}</span>
								<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
							</ng-template>
							<div class="row">
								<ng-template ng-option-tmp let-item="item">
									<div class="card testimonial-card">
										<div class="card-up deep-purple lighten-2"></div>
										<div class="avatar white img_section">
											<img src="{{baseUrl}}{{item.profilePhoto}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
										</div>
										<div class="card-body">
											<h5 class="card-title mt-1">{{item.name}}</h5>
											<h6 class="card-title">{{item.userRole}}</h6>
										</div>
									</div>
								</ng-template>
							</div>
						</ng-select>
					</div>
					<div class="row">
						<div class="col-12 col-md-3 mb-2" *ngFor="let item of projectTeam">
							<div class="card" style="padding: 10px 0; text-align: center;">
								<div class="card-up deep-purple lighten-2"></div>
								<div class="avatar white img_section">
									<img src="{{baseUrl}}{{item.profilePhoto}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
								</div>
								<div class="card-body">
									<h5 class="card-title mt-1">{{item.name}}</h5>
									<h6 class="card-title">{{item.userRole}}</h6>
								</div>
								<div class="delete-team-member">
									<a href="javascript:void(0);" (click)="removeDeveloper(item)"><i class="fas fa-trash fa-3x"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="card mt-1 p-1">
			<h3 class="card-title text-center pt-3">ProjectManager:</h3>
			<div class="card-body">
				<div class="container">
					<div class="form-group">
						<ng-select placeholder="Select ProjectManager" [items]="availableProjectMngr" [multiple]="true" bindLabel="name" bindValue="_id" [closeOnSelect]="false" formControlName="Teams" (add)="addProjectManager($event)" (remove)="removeProjectManager($event.value)" (clear)="clearSelection($event)">
							<ng-template ng-label-tmp let-item="item" let-clear="clear">
								<span class="ng-value-label"><img [src]="item.profilePhoto" onerror="this.src='assets/icons/avatar.png'" width="20px" height="20px"> {{item.name}}</span>
								<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
							</ng-template>
							<div class="row">
								<ng-template ng-option-tmp let-item="item">
									<div class="card testimonial-card">
										<div class="card-up deep-purple lighten-2"></div>
										<div class="avatar white img_section">
											<img src="{{baseUrl}}{{item.profilePhoto}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
										</div>
										<div class="card-body">
											<h5 class="card-title mt-1">{{item.name}}</h5>
											<h6 class="card-title">{{item.userRole}}</h6>
										</div>
									</div>
								</ng-template>
							</div>
						</ng-select>
					</div>
					<!-- <div class="row">
						<div class="col-12 col-md-3 mb-2" *ngFor="let item of projectMngrTeam">
							<div class="card" style="padding: 10px 0; text-align: center;">
								<div class="card-up deep-purple lighten-2"></div>
								<div class="avatar white img_section">
									<img src="{{baseUrl}}{{item.profilePhoto}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
								</div>
								<div class="card-body">
									<h5 class="card-title mt-1">{{item.name}}</h5>
									<h6 class="card-title">{{item.userRole}}</h6>
								</div>

								<div class="delete-team-member">
									<a href="javascript:void(0);" (click)="removeProjectManager(item)"><i class="fas fa-trash fa-3x"></i></a>
								</div>
							</div>
						</ng-template>
					</div>
				</ng-select>
			</div> -->
			<div class="row">
				<div class="col-12 col-md-3 mb-2" *ngFor="let item of projectMngrTeam">
					<div class="card" style="padding: 10px 0; text-align: center;">
						<div class="card-up deep-purple lighten-2"></div>
						<div class="avatar white img_section">
							<img src="{{baseUrl}}{{item.profilePhoto}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
						</div>
						<div class="card-body">
							<h5 class="card-title mt-1">{{item.name}}</h5>
							<h6 class="card-title">{{item.userRole}}</h6>
						</div>
						<div class="delete-team-member">
							<a href="javascript:void(0);" (click)="removeProjectManager(item)"><i class="fas fa-trash fa-3x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <button type="submit" class="btn btn-default btn-rounded z-depth-1 mt-1" (click)="updateProject(updateForm.value)" [disabled]="updateForm.invalid">Update Project</button>
</form> -->


		<button type="submit" class="btn btn-default btn-rounded z-depth-1 mt-1" (click)="updateProject(updateForm.value)" [disabled]="updateForm.invalid">Update Project</button>
	</form>
</div>