<div class="container">
	<h1 class="text-center">Notice Board</h1>
	<div class="card" *ngFor="let notice of notice">
		<div *ngIf="notice.published">
			<div *ngIf="notice.images">
				<div *ngFor="let image of notice.images">
					<img src="{{path}}{{image}}" height="300" width="300">
				</div>
				<div class="card-body">
					<h4 class="card-title">{{notice.title}}</h4>
					<h5>{{notice.desc}}</h5>
					<div *ngIf="currentUser.userRole=='projectManager'">
						<button type="submit" class="btn btn-default btn-rounded z-depth-1" (click)="deleteNotice(notice._id)">Delete Notice</button>
						<button class="btn btn-default" type="button" data-toggle="modal" data-target="#exampleModalPreview" (click)="newNotice = notice">Edit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal Start Here -->
<div class="modal fade" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalPreviewLabel">Edit Notice</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="newNotice">
				<div class="row">
					<form style="width: 100%;" [formGroup]="editNoticeForm">
						<div class="form-group col-12">
							<label for="title">Title</label>
							<input type="text" id="title" formControlName="title" class="form-control" [(ngModel)]="newNotice.title">
						</div>
						<div class="form-group col-12">
							<label for="desc">Discription</label>
							<input type ="text" id="desc" formControlName="desc" class="form-control md-textarea" [(ngModel)]="newNotice.desc">
						</div>
						<div class="form-group col-12">
							<label for="published">published</label>
							<select class="browser-default custom-select custom-select-lg mb-3" id="published" formControlName="published" [(ngModel)]="newNotice.published">
								<option value="true">True</option>
								<option value="false">False</option>
							</select>
						</div>
						<div class="form-group col-12">
							<input placeholder="Selected days" id="expireon" type="date" formControlName="expireon" [(ngModel)]="newNotice.expireon" class="form-control">
						</div>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
				<button type="submit" id="my_button" class="btn btn-default btn-lg" (click)="updateNotice(newNotice)">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal End Here -->

