<div class="loader" *ngIf="loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="cont" *ngIf="!loader">
	<div *ngIf="pro">
		<h3 class="card-header-title"><span class="mr-1" data-icon="&#xe067;"></span>{{pro.title}}</h3>
	</div>
	<div class="row no-margin no-padding" *ngIf="sprints">
		<div class="md-form form-group col-2">
			<select class="browser-default custom-select custom-select-sm mb-1" id="sprint" (change)="filterTracks($event.target.value)">
				<option *ngIf="activeSprint">{{activeSprint.title}}{{activeSprint.status}}</option>
				<option *ngFor="let sprint of sprints" value="{{sprint._id}}">{{sprint.title}} {{sprint.status}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card" style="height: 100%;">
				<div class="card-body">
					<h4><span class="icon-pie-chart mr-1"></span> Total Completed Project: </h4>
					<div class="row">
						<div class="col-sm-6">
							<p> Total Task In Active Sprint: <b>{{allCount}}</b></p>
						</div>
						<div class="col-sm-6">
							<p>Our Completed Project: <b>{{round}}%</b></p>
						</div>
					</div>
					<div>
						<canvas id="pieChart5"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4><span class="icon-bar-chart mr-1"></span> Number of tasks in each tracks:</h4>
					<canvas id="myChart" style="width: 50%;margin-top: 80px;"></canvas>
				</div>
			</div>
		</div>
	</div>
	<h3 class="mb-2 mt-2"><span class="mr-1" data-icon="&#xe067;"></span> List of team members along with the number of task in each track:</h3>
	<div class="row">
		<div class="col-md-3 padding-10" *ngFor="let user of projectTeam">
			<article>
				<a class="leader" href="#leader-8" routerLink="/visit-user-profile/{{user._id}}">
					<aside class="four-right two-right three-bottom"></aside>
					<header>
						<div class="title">
							<h5 class="font-weight-bold" style="margin:0; color: #372E5F;">{{user.name}}</h5>
							<p style="margin: 0px; color: #372E5F;">Developer</p>
						</div>
						<div class="blurb">
							<h5 class="font-weight-bold" style="margin:0;">{{user.name}}</h5>
							<p style="margin: 0px;">Developer</p>
						</div>
					</header>
					<div class="content">
						<div class="image" >
							<div class="profile" routerLink="/visit-user-profile/{{user._id}}" style="cursor: pointer;">
								<img src="{{path}}{{user.profilePhoto}}">
							</div>
						</div>
					</div>
				</a>
			</article>
		</div>
	</div>
	<h3 class="mb-2 mt-2"><span class="mr-1" data-icon="&#xe067;"></span> Total Number of High Priority tasks and Highest priority tasks in to do, in progress,testing and complete:</h3>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h3 style="text-align:center;">Highest Priority</h3>
					<canvas id="lineChart"></canvas>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h3 style="text-align:center;">High Priority</h3>
					<canvas id="lineChart1"></canvas>
				</div>
			</div>
		</div>
	</div>