<div class="cont">
	<div class="container">
		<div class="row" style="margin-top: -48px;">
			<div class="card" style="background-color: #372e5f;">
				<div class="card-body" *ngIf="pro">

					<h2 class="card-title" style="text-align: center;"><a style="color: #fff;">{{pro.title}}</a></h2>



				</div>

			</div>

		</div>

		<div class="container">
			<div class="row" style="margin-top: 30px;">
				<h3 style="margin-top: 50px;"><i class="fas fa-tasks"></i> Total number of Task in the project:</h3>
				<div class="progress blue">
					<span class="progress-left">
						<span class="progress-bar"></span>
					</span>
					<span class="progress-right">
						<span class="progress-bar"></span>
					</span>
					<div class="progress-value"><b>{{total}}%</b></div>
					<!-- <div class="progress-value" *ngIf="project"><b>{{getCompletedTask( "complete")}}" + ' * 100 / ' + {{project.length}}%</b></div> -->
					<!-- <div class="progress-value" id="c1" *ngIf="project"><b>{{getCompletedTask( "complete")}}</b></div> -->
					<!-- <div class="progress-value" id="c2" *ngIf="project"><b>{{project.length}}</b></div> -->
				</div>
				<!-- <div class="row">
					<div class="progress yellow" >
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value" *ngFor="let track of tracks">{{track.tasks.length}}</div>
					</div>
				</div>
			-->
				<!-- <div class="progress md-progress" style="height: 20px;">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%;height: 20px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="pull-right">
					<div class="row">
						<h5 style="margin-top: 13px;margin-left: 16px;"><span class="label green badge" style="height: 30px;">Total Number Of Tasks: <i class="fas fa-arrow-circle-right"></i></span></h5>
						<span class="min-chart" id="chart-sales" data-percent="56" *ngIf="project"><b style="font-size: 40px;">{{project.length}}</b></span>

					</div>
				</div> -->
				<!-- <div *ngIf="project">Total Number Of Tasks:<b></b></div> -->
		<!-- <div class="progress blue">
			<span class="progress-left">
				<span class="progress-bar"></span>
			</span>
			<span class="progress-right">
				<span class="progress-bar"></span>
			</span>
			<div class="progress-value" *ngIf="project">{{project.length}}</div>
		</div> -->
	</div>
	<div class="row" style="margin-top: 25px;">
		<h3><i class="fas fa-tasks"></i> Number of tasks in each tracks:</h3>
	</div>
	<div class="row" style="margin-top: 25px;">
		<canvas id="myChart" style="width: 500px;height: 200px;"></canvas>
	</div>
		<!-- <table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th scope="col"><i class="fas fa-signature"></i> Track-Name</th>
					<th scope="col"style="text-align: center;"><i class="fas fa-tasks"></i> Number Of Tasks</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let track of tracks">
					<th scope="row">{{track.id}}</th>
					<td style="text-align: center;">{{track.tasks.length}}</td>
				</tr>
			</tbody>
		</table> -->
		<div class="row" style="margin-top: 25px;">
			<h3><i class="fas fa-list-alt"></i> List of team members along with the number of task in each track:</h3>
			<table class="table table-bordered table-responsive" style="text-align: center;">
				<thead>
					<tr>
						<th scope="col" style="text-align: left;"><i class="fas fa-users"></i> Team-member</th>
						<th scope="col">To Do</th>
						<th scope="col">In Progress</th>
						<th scope="col">Testing</th>
						<th scope="col">Complete</th>


					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of projectTeam">
						<td scope="row" style="text-align: left;cursor: pointer;" routerLink="/visit-user-profile/{{user._id}}" >{{user.name}}</td>
						<td>{{getTaskCount(user._id, 'to do')}}</td>
						<td>{{getTaskCount(user._id, 'in progress')}}</td>
						<td>{{getTaskCount(user._id, 'testing')}}</td>
						<td>{{getTaskCount(user._id, 'complete')}}</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="row" style="margin-top: 25px;">
			<h3><i class="fas fa-tasks"></i> Total Number of High Priority tasks and Highest priority tasks in to do, in progress,testing and complete:</h3>
			<div class="col-sm-6" style="padding-left: 0px;">
				<h3 style="text-align:center;margin-top: 30px;">Highest Priority</h3>
				<canvas id="pieChart1" class="border1"></canvas>

			<!-- 	<table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<th scope="col"  style="background-color: #ff0000;color: #fff;"><i class="fas fa-tasks"></i> Highest Priority</th>
							<th scope="col" style="text-align:center;"><i class="fas fa-calendar-plus"></i> Total Count</th>

						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let track of tracks">
							<th scope="row">{{track.title}}</th>
							<td style="text-align:center;">{{getTaskPriority(1, track.id)}}</td>
						</tr>
					</tbody>
				</table> -->
			</div>
			<div class="col-sm-6" style="padding-right: 0px;">
				<h3 style="text-align:center;margin-top: 30px;">High Priority</h3>
				<canvas id="pieChart2" class="border2"></canvas>
				<!-- <table class="table table-bordered table-responsive" >
					<thead>
						<tr>
							<th scope="col" style="background-color: #c5c502;color: #fff;"><i class="fas fa-tasks"></i> High Priority</th>
							<th scope="col" style="text-align:center;"><i class="fas fa-calendar-plus"></i> Total Count</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let track of tracks">
							<th scope="row">{{track.title}}</th>
							<td style="text-align:center;">{{getTaskPriority(2, track.id)}}</td>
						</tr>
					</tbody>
				</table> -->
			</div><hr/>
			<div class="col-sm-6" style="padding-left: 0px;">
				<h3 style="text-align:center;margin-top: 30px;">Midium Priority</h3>
				<canvas id="pieChart3" class="border3"></canvas>
				<!-- <table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<th scope="col" style="background-color: green;color: #fff;"><i class="fas fa-tasks"></i> Midium Priority</th>
							<th scope="col" style="text-align:center;"><i class="fas fa-calendar-plus"></i> Total Count</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let track of tracks">
							<th scope="row">{{track.title}}</th>
							<td style="text-align:center;">{{getTaskPriority(3, track.id)}}</td>
						</tr>
					</tbody>
				</table> -->
			</div>
			<div class="col-sm-6" style="padding-right: 0px;">
				<h3 style="text-align:center;margin-top: 30px;">Low Priority</h3>
				<canvas id="pieChart4" class="border4"></canvas>
				<!-- <table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<th scope="col" style="background-color: #4e4eff;color: #fff;"><i class="fas fa-tasks"></i> Low Priority</th>
							<th scope="col" style="text-align:center;"><i class="fas fa-calendar-plus"></i> Total Count</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let track of tracks">
							<th scope="row">{{track.title}}</th>
							<td style="text-align:center;">{{getTaskPriority(4, track.id)}}</td>
						</tr>
					</tbody>
				</table> -->
			</div>

		</div>
	</div>
</div>
</div>









































<!-- <div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card">

		
				<div class="card-body">

	
					<h4 class="card-title"><a><strong><i class="fas fa-tasks"></i> Total task in the project</strong></a></h4>
					<p class="card-text" *ngIf="project">{{project.length}}</p>

				</div>

			</div>
		</div>
		<div class="col-sm">
			<div class="card">

			
				<div class="card-body" >

			
					<h4 class="card-title" ><a><i class="fas fa-tasks"></i> Number Of task in each track </a></h4><hr/>
					<div class="card-text" >
						<ul class="list-group" *ngFor="let track of tracks">
							<li class="list-group-item active">{{track.id}}</li>
							<li class="list-group-item">{{track.tasks.length}}</li>
						</ul>

					</div>

				</div>

			</div>
		</div>
		<div class="col-sm">
			<div class="card">

			
				<div class="card-body">

			
					<h4 class="card-title"><a><i class="fas fa-list-alt"></i> List of team members along with the number of task in each track</a></h4>
		
					<div class="card-text">
						<ul class="list-group" *ngFor="let user of projectTeam">
							<li class="list-group-item ">{{user.name}}
			

							</li>
							
						</ul>
					</div>

				</div>

			</div>
		</div>
		<div class="col-sm">
			<div class="card">


				<div class="card-body">


					<h4 class="card-title"><a><i class="fas fa-list-alt"></i> Total Number of High Priority tasks and Highest priority tasks in TODO, IN PROGRESS AND TESTING</a></h4>
	
					<div class="card-text">
						<ul class="list-group" >
							<li class="list-group-item ">Highest
								<ul *ngFor="let track of tracks">
									<li>{{track.id}}</li>
									<li>{{track.tasks.priority}}</li>
								</ul>
							</li>
							
						</ul>
						<ul class="list-group" >
							<li class="list-group-item ">High
								<ul *ngFor="let track of tracks">
									<li>{{track.id}}</li>
									<li>{{track.tasks.priority}}</li>
								</ul>
							</li>
							
						</ul>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

 -->