<!--  <div class="container mt-6">
	<div class="card panels-card">
		<h5 class="top-nav-collapse white-text text-center py-4">
			<strong>Leave Application</strong>
		</h5>
		<div class="card-body box pt-1">
			<p>Please fill in all the details. Wait for the approval from the management</p>
			<form [formGroup]='addForm'>
				<div class="form-group">
					<label for="email">Email address</label>
					<input class="form-control" type="email" formControlName="email" placeholder="Your email"/>
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control" type="text" formControlName="name" id="name" placeholder="Your answer"/>
				</div>
				<div class="form-group">
					<label>Leave date(s)</label>
					<div class="md-form">
						<input placeholder="Selected date" type="text" formControlName="date" id="date-picker-example" class="form-control datepicker">
					</div>
				</div>
				<div class="form-group">
					<label>Duration :</label>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="leaveDuration1" formControlName="leaveDuration" value="firsthalf-day">
						<label class="form-check-label" for="leaveDuration1">First Half</label>	
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="leaveDuration2" formControlName="leaveDuration" value="secondhalf-day">
						<label class="form-check-label" for="leaveDuration2">Second Half</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="leaveDuration3" formControlName="leaveDuration" value="full-day">
						<label class="form-check-label" for="leaveDuration3">Full Day</label>
					</div>
				</div>
				<div class="form-group">
					<label>Type of leave :</label>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="TypeOfLeave1" formControlName="typeOfLeave" value="sickleave">
						<label class="form-check-label" for="TypeOfLeave1">Sick leave (Illness or Injury)</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="TypeOfLeave2" formControlName="typeOfLeave" value="emergencyleave">
						<label class="form-check-label" for="TypeOfLeave2">Emergency leave</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="TypeOfLeave3" formControlName="typeOfLeave" value="leavewithoutpay">
						<label class="form-check-label" for="TypeOfLeave3">Leave without pay</label>
					</div>
					<div class="form-check">
						<input type="radio" class="form-check-input" id="TypeOfLeave4" formControlName="typeOfLeave" value="personalleave">
						<label class="form-check-label" for="TypeOfLeave4">Personal Leave</label>
					</div>
				</div>
				<div class="form-group">
					<label for="reasonForLeave">Reason for leave</label>
					<input class="form-control" type="text" formControlName="reasonForLeave" id="reasonForLeave" placeholder="Your answer"/>
				</div>
				<button type="button" class="btn btn-default" (click)="addLeave(addForm.value)" [disabled]="addForm.invalid">Submit</button>
			</form>
		</div>
	</div>	
</div>
-->




<div class="container-fluid ">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<div class="card card-cascade narrower">
				<!-- Card image -->
				<div class="view view-cascade gradient-card-header " style="background-color: #372e5f">
					<!-- Title -->
					<h2 class="card-header-title white-text text-center py-4" align="center" style="margin: 0;">Apply Leave</h2>
				</div>
				<!-- Card content -->
				<div class="card-body card-body-cascade text-center" style="padding-top: 35px;">
					<!-- Text -->
					<div class="container-fluid">
						<form [formGroup]='addForm' autocomplete="off">
							<div class="row">
								<div class="col">
									<div class="md-form" >
										<i class="fas fa-envelope prefix active"></i>
										<input type="text" id="name" formControlName="name" class="form-control" style="margin-bottom: 30px;">
										<label for="name">Enter Your Name</label>
									</div>
								</div>
								<div class="col">
									<div class="md-form" >
										<i class="fas fa-lock prefix active"></i>
										<input type="email" id="email" formControlName="email" class="form-control" style="margin-bottom: 30px;">
										<label for="email">Enter E-mail</label>
									</div>
								</div>
							</div>
						<!-- 	<div class="custom-control custom-radio" style="text-align: left; padding: 0;">
								<input type="radio" class="custom-control-input" id="oneDay" formControlName="noOfDays" value="1-day">
								<label class="custom-control-label" for="oneDay">For One Day</label>
							</div>
							<div class="custom-control custom-radio" style="text-align: left; padding: 0;">
								<input type="radio" class="custom-control-input" id="moreDays" formControlName="noOfDays" value="more-day">
								<label class="custom-control-label" for="moreDays">For More Days</label>
							</div> -->

							<div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" data-toggle="buttons">
								<label class="btn btn-primary btn_bgcolor">
									<button (click)="showOneDay()" value="1-day" class="btn_style"><i class="fas fa-hand-point-up"></i>For One Day</button> 
								</label>
								<label class="btn btn-primary btn_bgcolor">
									<button (click)="showMoreDays()" value="more-day" class="btn_style"><i class="fas fa-hand-spock"></i>For More Days</button>
								</label>
							</div>
							<span [hidden]="!showMoreDayss">
								<div class="row">
									<div class="col">
										<div class="md-form">
											<i class="far fa-calendar-alt prefix"></i>
											<input placeholder="Starting date" formControlName="startingDate" type="text" id="startDate" class="form-control datepicker" style="margin-bottom: 30px;">
										</div>	
									</div>
									<div class="col">
										<div class="md-form">
											<i class="far fa-calendar-alt prefix"></i>
											<input placeholder="Ending date" formControlName="endingDate" type="text" id="endDate" class="form-control datepicker" style="margin-bottom: 30px;">
										</div>	
									</div>
								</div>
							</span>
							<div [hidden]="!showOneDays">
								<div class="col">
									<div class="md-form">
										<i class="far fa-calendar-alt prefix"></i>
										<input placeholder="SINGLE date" formControlName="singleDate" type="text" id="startDateFor1" class="form-control datepicker" style="margin-bottom: 30px;">
									</div>	
								</div>
								<p style="text-align: left; margin-bottom: 10px;"><b>Duration:-</b></p>
								<div class="form-group">
									<div class="form-check" style="text-align: left; padding: 0;">
										<input type="radio" class="form-check-input" id="leaveDuration1" formControlName="duration" value="firsthalf-day">
										<label class="form-check-label" for="leaveDuration1">First Half</label>	
									</div>
									<div class="form-check" style="text-align: left; padding: 0;">
										<input type="radio" class="form-check-input" id="leaveDuration2" formControlName="leaveDuration" value="secondhalf-day">
										<label class="form-check-label" for="leaveDuration2">Second Half</label>
									</div>
									<div class="form-check" style="text-align: left; padding: 0;">
										<input type="radio" class="form-check-input" id="leaveDuration3" formControlName="leaveDuration" value="full-day">
										<label class="form-check-label" for="leaveDuration3">Full Day</label>
									</div>
								</div>
							</div> 









							<p style="text-align: left; margin-bottom: 10px;"><b>Reason:-</b></p>
							<div class="custom-control custom-radio" style="text-align: left; padding: 0;">
								<input type="radio" class="custom-control-input" id="SickLeave" formControlName="typeOfLeave" value="sickleave">
								<label class="custom-control-label" for="SickLeave">Sick Leave</label>
							</div>
							<div class="custom-control custom-radio" style="text-align: left; padding: 0;">
								<input type="radio" class="custom-control-input" id="Emergencyleave" formControlName="typeOfLeave" value="emergencyleave" checked>
								<label class="custom-control-label" for="Emergencyleave">Emergency leave</label>
							</div>
							<div class="custom-control custom-radio" style="text-align: left; padding: 0;">
								<input type="radio" class="custom-control-input" id="withoutpay" formControlName="typeOfLeave" value="leavewithoutpay">
								<label class="custom-control-label" for="withoutpay">without pay</label>
							</div>
							<div class="custom-control custom-radio" style="text-align: left; padding: 0;">
								<input type="radio" class="custom-control-input" id="PersonalLeave" formControlName="typeOfLeave" value="personalleave">
								<label class="custom-control-label" for="PersonalLeave" style="margin-bottom: 30px;">Personal Leave</label>
							</div>
							

							<div class="form-group purple-border " style="text-align: left; padding: 0;width:98%;">
								<label for="exampleFormControlTextarea4"><b>Reason For Leave:-</b></label>
								<textarea class="form-control" formControlName="reasonForLeave" id="exampleFormControlTextarea4" rows="4"></textarea>
							</div>

							
							<div>
								<button type="button" class="btn btn-deep-purple waves-effect btn-default" (click)="addLeave(addForm.value)" [disabled]="addForm.invalid">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>