.card{
	border-radius: 5px;
}
.card-title{
	color: white;
}
.card-header{
	border-radius: 3px;
	margin: 0px 15px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.card .card-header{
	padding: 15px;
	margin-top: -23px;
}
.table tr:first-child th {
    border-top: none !important;
}
th, td{
	text-align: left;
}
.card-header {
    background-color: #372e5f;
}
.text-primary{
	color: #372e5f !important;
}