<div class="container">
	<div class="row">
		<table border="1px solid black" *ngIf="!logFunctionSwap && !logFinalStep">
			<tr align="center" >
				<th>Title</th>
				<th style="padding: 10px;">Unique-ID</th>
				<th>desc</th>
				<th>action</th>
			</tr>
			<tr *ngFor="let i of projectName">
				<td>{{i.title}}</td>
				<td style="padding: 10px;">{{i.uniqueId}}</td>
				<td>{{i.desc}}</td>
				<td ><a routerLink="{{i._id}}">click</a></td>
			</tr>
		</table>
		<table border="1px solid black" *ngIf="logFunctionSwap">
			<tr align="center" >
				<th style="padding: 10px;">name</th>
				<th>UserRole</th>
				<th>action</th>
			</tr>
			<tr *ngFor="let i of teams">
				<td style="padding: 10px;">{{i.name}}</td>
				<td>{{i.userRole}}</td>
				<td ><a routerLink="{{i._id}}">click</a></td>
			</tr>
		</table>
		<table border="1px solid black" *ngIf="logFinalStep">
			<tr align="center" >
				<th style="padding: 10px;">Type</th>
				<th>OPreation</th>
				<th>Date-Time</th>
			</tr>
			<tr *ngFor="let i of finalArray">
				<td style="padding: 10px;">{{i.type}}</td>
				<td>
					<span >
						<tr *ngFor="let j of i.timeLog">
							<td>{{j.operation}}</td>
							
						</tr>
					</span>
				</td>
				<td>
					<span >
						<tr *ngFor="let j of i.timeLog">
							<td>{{j.dateTime}}</td>
						</tr>
					</span>
				</td>
			</tr>	
		</table>
	</div>
</div>
