<div class="deep-purple-skin">
	<div class="container mt-6">
		<div class="card panels-card">
			<div class="container">
				<h5 class="top-nav-collapse white-text text-center py-4 waves-green" style="margin-top: -22px;">
					<strong><i class="fas fa-user prefix waves-green "></i>  Login</strong>
				</h5>
				<div class="card-body box pt-1">
					<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<div class="md-form">
							<i class="fas fa-envelope prefix"></i>
							<input mdbInput type="text" id="form2" autocomplete= 'false | random-string'  class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
							<label for="form2">Username</label>
							<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
								<div *ngIf="f.email.errors.required">Username is required</div>
							</div>
						</div>



				<!-- <div class="form-group">
					<input class="form-control" type="text" formControlName="email" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
						<div *ngIf="f.email.errors.required">Username is required</div>
					</div>
				</div> -->
				<div class="md-form">
					<i class="fa fa-lock prefix"></i>
					<input mdbInput type="password" autocomplete="new-password" id="form2" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [type]="show ? 'text' : 'password'" />
					<!-- <i toggle="#password-field" class="fas fa-eye" id="pwdi" (click)="showPwd()"></i> -->
					 <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" (click)="password()"></span>
					<label for="form2">Password</label> 
					<!-- <button (click)="password()">Show</button> -->
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
					</div>
				</div>
				<!-- <div class="form-group">
					<input class="form-control" type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
					</div>
				</div> -->
				<div class="md-form">
					<button [disabled]="loading" class="btn btn-default" mdbBtn color="primary" mdbWavesEffect>LOG IN</button>
					<!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a> -->
					<!-- <button [disabled]="loading" class="btn btn-default">Login</button> -->
					
					<img class="loading_img" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

					

				</div>
			</form>
			<div class="modal fade" id="modalForgotPasswordForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold">Forgot Password</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<form [formGroup]="forgotPasswordForm" (ngSubmit)="updatePassword()" ngNativeValidate>
							<div class="md-form mb-3">
								<i class="fas fa-envelope prefix grey-text"></i>
								<input type="text" id="email" class="form-control" formControlName="email" required="required">
								<label for="email">Email address</label>
							</div>
							<div class="modal-footer d-flex justify-content-center">
								<button class="btn btn-deep-orange" type="submit">Submit</button>
								<div class="spinner-border text-primary" role="status" *ngIf="loader">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="forgottxt">
			<a href="" data-toggle="modal" data-target="#modalForgotPasswordForm">Forgot Password?</a>
		</div>
	</div>
</div>
</div>	
</div>
</div>
