<div class="loader" *ngIf="loader">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="project_bord" *ngIf="!loader">
    <div class="row margin_left">
        <div class="col-12 col-md-3 margin-bottom-30" *ngFor="let project of projects">
            <div class="card">
                <div class="card-header white-text" routerLink="/project-details/{{project._id}}">
                    <div class="avatar_image">
                        <img src="{{path}}{{project.avatar}}" onerror="this.src='../assets/avatar/coding.png'">
                    </div>
                    <div class="project_title">
                        <h4 class="project-title-view-project">{{project.title}}</h4>
                        <div class="float-right">
                            <span routerLink="/project/files-list/{{project._id}}"><i class="fa fa-file mr-1"></i></span>
                            <span><i class="fa fa-star mr-1"></i></span>
                            <span routerLink="/edit-project/{{project._id}}"><i class="fa fa-edit"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body" routerLink="/project-details/{{project._id}}" >
                    <div class="row border-bottom">
                        <div class="col-xs-12 padding-5">
                            <p class="card-text font-monospace">{{project.desc}}</p>
                        </div>
                    </div>
                    <div class="row border text-center margin-20 padding-10">
                        <div class="col-md-6 ">
                           <span>team </span>
                        </div>
                        <div class="col-md-6 border-left">
                            developer
                        </div>
                    </div>
                    <div class="row border-top pb-1 mb-0">
                        <div class="col-md-4 text-center">
                            <strong title="task" class="blue-text">
                                <img src="assets/icons/task.png" class="tib-prefix"> 
                                <!-- Tasks:  -->
                            </strong>
                            <span class="tib-view-projects-description">{{(project.taskId.length>0)?project.taskId.length:0}}</span>
                        </div>
                        <div class="col-md-4 text-center border-left">
                         <strong title="Issue" >
                            <img src="assets/icons/issues.png" class="tib-prefix">
                            <!--  Issues:  -->
                        </strong>
                        <span class="tib-view-projects-description">{{(project.IssueId.length>0)?project.IssueId.length:0}}</span>
                    </div>
                    <div class="col-md-4 text-center border-left">
                        <strong title="Bug" class="red-text">
                            <img src="assets/icons/bug-2.png" class="tib-prefix">
                            <!--       Bugs:  -->
                        </strong>
                        <span class="tib-view-projects-description">{{(project.BugId.length>0)?project.BugId.length:0}}</span>
                    </div>  
                </div>
            </div>
        </div>
        <hr class="no-margin no-padding">
        <div class="card-action padding-10">
          <!--<div class="card-text float-left"><strong title="task">T:</strong>{{(project.taskId.length>0)?project.taskId.length:0}},<strong title="Issue">I:</strong>{{(project.IssueId.length>0)?project.IssueId.length:0}},<strong title="Bug">B:</strong>{{(project.BugId.length>0)?project.BugId.length:0}}</div> -->
           <!-- <div class="float-right">
            <ul class="team-members">
                <span *ngIf="project.Teams.length>0">
                    <li *ngFor="let Team of project.Teams" [title]="getTitle(Team.name)">
                       
                           <a [routerLink]="['/userprofile/']">
                                {{getInitialsOfName(Team.name)}}
                            </a>
                        </li>
                    </span>
                    <li class="add-member">
                        <a title="Add Member" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="currentUser.userRole=='projectManager'">
                            <i class="fa fa-user-plus"></i>
                        </a>
                        <a title="Add Member" *ngIf="currentUser.userRole!='projectManager'">
                            <i class="fa fa-user-plus"></i>
                        </a>
                        <div class="dropdown-menu">
                            <p class="dropdown-item">Action</p>
                            <p class="dropdown-item">Another action</p>
                            <p class="dropdown-item">Something else here</p>
                            <div class="dropdown-divider"></div>
                            <p class="dropdown-item">Add</p>
                        </div>
                    </li>
                </ul>
            </div>  -->
        </div>
    </div> 
    <div class="col-12 col-md-3 margin-bottom-30" *ngIf="currentUser.userRole=='projectManager'">
        <div class="card">
            <div class="card-body">
                <a href="javascript:void(0);" title="Add Project" data-toggle="modal" data-target="#createProject">
                    <i class="fa fa-plus fa-5x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="currentUser.userRole=='projectManager'">
   <div class="fixed-action-btn">
    <a href="javascript:void(0);" title="Add Project" data-toggle="modal" data-target="#createProject" class="btn-floating btn-large" ripple-radius (click)="fixed.toggle()">
        <i class="fa fa-plus"></i>
    </a>
</div>
</div>

</div>

<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <h5 class="card-header white-text text-center py-4">
                        <strong>Create Project</strong>
                    </h5>
                    <div class="card-body px-lg-5 pt-1">
                        <form class="md-form" [formGroup]='addForm' role="form" style="color: #757575;">
                            <div class="md-form form-group">
                                <label for="projecttitle">Project Title</label>
                                <input type="text" id="projecttitle" formControlName="title" class="form-control">
                            </div>
                            <div class="md-form form-group">
                                <label for="projectalias">Project Alias</label>
                                <input type="text" id="projectalias"  formControlName="uniqueId" class="form-control">
                            </div>
                            <div class="md-form form-group">
                                <label for="desc">Description</label>
                                <textarea id="desc" rows="5" formControlName="desc" class="form-control rounded-0 md-textarea"></textarea>
                            </div>
                            <div>
                                <h4><strong>Client Details :-</strong></h4>
                            </div>
                            <div class="md-form form-group">
                                <label for="clientemail">Email</label>
                                <input type="email" id="clientemail" formControlName="clientEmail" class="form-control">
                            </div>
                            <div class="md-form form-group">
                                <label for="clientfullname">Full Name</label>
                                <input type="text" id="clientfullname" formControlName="clientFullName" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <label for="clientcontactno">Contact No.</label>
                                        <input type="number" id="clientcontactno" formControlName="clientContactNo" class="form-control">
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <label for="clientdesignation">Designation</label>
                                        <input type="text" id="clientdesignation" formControlName="clientDesignation" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img [src]="url" height="150" width="150">
                            </div>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#basicExampleModal">
                                Select Project avatar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-rounded z-depth-1" (click)="addProject(addForm.value)" [disabled]="addForm.invalid">Create Project</button>
                <button type="button" class="btn btn-default btn-rounded z-depth-1" data-dismiss="modal" aria-label="Close">
                    Cancle
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Start Here -->

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Choose Avatar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="md-form form-group">
                <div class="file-field">
                    <div class="btn btn-default btn-sm float-left">
                        <span>Upload a new avatar</span>
                        <input type="file" name="fileUpload" (change)="onSelectFile($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input  class="file-path validate" type="text" placeholder="Upload your file">
                    </div>
                </div>
                <ul class="project-avatar">
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/school.png')">
                            <img src="assets/avatar/school.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/mortarboard.png')">
                            <img src="assets/avatar/mortarboard.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/alarm-clock.png')">
                            <img src="assets/avatar/alarm-clock.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button"  (click)="addIcon('/uploads/avatar/stethoscope.png')">
                            <img src="assets/avatar/stethoscope.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/doctor.png')">
                            <img src="assets/avatar/doctor.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/bookshelf.png')">
                            <img src="assets/avatar/bookshelf.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/flask.png')">
                            <img src="assets/avatar/flask.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/customer-service.png')">
                            <img src="assets/avatar/customer-service.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/payment-method.png')">
                            <img src="assets/avatar/payment-method.png" height="56" width="56">
                        </button>   
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/beach.png')">
                            <img src="assets/avatar/beach.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/coding.png')">
                            <img src="assets/avatar/coding.png" height="56" width="56">
                        </button>
                    </li>
                    <li>
                        <button class="icon-button" (click)="addIcon('/uploads/avatar/maintenance.png')">
                            <img src="assets/avatar/maintenance.png" height="56" width="56">
                        </button>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal End Here -->

