<div class="project_bord">
    <div class="row">
        <div class="col-12 col-md-3 margin-bottom-30" *ngFor="let project of projects">
            <div class="card">
                <div class="card-header" routerLink="/project-details/{{project._id}}">
                    <span><strong>UniqueId:</strong> {{project.uniqueId}}</span>
                </div>
                <div class="card-body padding-top-bottom-20 padding-left-right-10" routerLink="/project-details/{{project._id}}">
                    <h4 class="card-title">{{project.title}}</h4>
                    <p class="card-text">{{project.desc}}</p>
                </div>
                <hr class="no-margin no-padding">
                <div class="card-action padding-10">
                    <div class="card-text float-left"><strong title="task">T:</strong>{{(project.taskId.length>0)?project.taskId.length:0}},<strong title="Issue">I:</strong>{{(project.IssueId.length>0)?project.IssueId.length:0}},<strong title="Bug">B:</strong>{{(project.BugId.length>0)?project.BugId.length:0}}</div>
                    <div class="float-right">
                        <ul class="team-members">
                            <span *ngIf="project.Teams.length>0">
                                <li *ngFor="let Team of project.Teams" [title]="getTitle(Team.name)">
                                    <a href="javascript:void(0);">
                                        {{getInitialsOfName(Team.name)}}
                                    </a>
                                </li>
                            </span>
                            <li class="add-member">
                                <a href="javascript:void(0);" title="Add Member">
                                    <i class="fa fa-user-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 margin-bottom-30">
            <div class="card">
                <div class="card-body">
                    <a href="javascript:void(0);" title="Add Project">
                        <i class="fa fa-plus fa-5x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>