table{
	margin-top: 50px;
}
.btn-danger{
	margin-left: 15px
}
.table-bordered td, .table-bordered th {
    vertical-align: middle;
}
.project_title, .project_description{
    width: 350px;
}
.team, .action{
	white-space: nowrap;
}
.card {
    height: 100%;
}
.card-header, .card-body{
	cursor: pointer;
}
.card-action span strong{
	cursor: pointer;
}

.team-members li{
	height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 9px 4px;
    font-weight: 700;
    font-size: 14px;
    background-color: #33b5e5;
    float: left;
    margin-right: -18px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
    -moz-box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
    box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
    position: relative;
}

.team-members li:hover{
	z-index: 1;
}

.team-members li.add-member{
	margin-right: 0;
	padding: 8px 12px;
}

.team-members li a{
	color: #fff;
	text-transform: uppercase;
}
.tib-view-projects-description{
    text-align: right;
    font-weight: bold
}

.tib-prefix{
    display: inline!important;
    height: auto;
    width: 20px;
    margin-right: 5px;
}
.project-title-view-project{
    text-transform: capitalize;
    font-weight: bold;
}
.margin_left{
    margin-left: 45px;
}


.project-avatar{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.project-avatar-list
{
    cursor: pointer;
    display: inline-block;
    position: relative;

}
.icon-button{
    background: transparent;
    border: 0;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    padding: 0;
}
ul.project-avatar{
    display: inline-block;
    width: 100%;
}
ul.project-avatar li {
    display: inline-block;
    margin: 5px;
    float: left;
    padding: 4px;
    border: 2px solid transparent;
}
ul.project-avatar li:hover {
    border-color: #000;
}
