body{
    margin: 0;
    padding: 0;
}
table{
	margin-top: 50px;
}

.btn-danger{
	margin-left: 15px
}
.table-bordered td, .table-bordered th {
    vertical-align: middle;
}
.project_title, .project_description{
    /*width: 350px;*/
}
.team, .action{
	white-space: nowrap;
}
.card {
    height: 100%;
}
.card-action span strong{
	cursor: pointer;
}
h2{
    margin:0px;
}
.card-title{
    outline: none;
    text-transform: capitalize;
}
.team-members li{
	height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 9px 4px;
    font-weight: 700;
    font-size: 14px;
    background-color: #372e5f;
    float: left;
    margin-right: -18px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
    -moz-box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
    box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.8);
    position: relative;
}

.team-members li:hover{
	z-index: 1;
}

.team-members li.add-member{
	margin-right: 0;
	padding: 8px 12px;
}

.team-members li a{
	color: #fff;
	text-transform: uppercase;
}
.tib-view-projects-description{
    text-align: right;
    font-weight: bold
}
.card-body{
    position: relative;
    border-radius: 10px;
}
.card.testimonial-card.open,
.open .card-body{
    border-radius: 10px 0px 0px 10px;
}
.card-body:after{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: block;
    content: "";
    /*background-color: rgba(250, 250, 250,0.5);*/
}
.tib-prefix{
    display: inline!important;
    height: auto;
    width: 20px;
    margin-right: 5px;
}
.project-title-view-project{
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
}
.margin_left{
    margin-left: 50px;
}
.fixed-action-btn{
    bottom: 45px;
    right: 24px;
}
.btn-floating{
    background-color: #372e5f;
}
.card-header {
    background-color: #372e5f !important;
}
button{
    display: table;
    margin: 0px auto;
    border:none;
}
.form-body{
    border-top: 1px solid #ddd;
    overflow: auto;
    padding: 0 24px;
}
.project-avatar{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.project-avatar-list
{
    cursor: pointer;
    display: inline-block;
    position: relative;

}
.icon-button{
    background: transparent;
    border: 0;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    padding: 0;
}
ul.project-avatar{
    display: inline-block;
    width: 100%;
}
ul.project-avatar li {
    display: inline-block;
    margin: 5px;
    float: left;
    padding: 3px;
    border: 2px solid transparent;
}
ul.project-avatar li:hover {
    border-color: #000;
}
.card-title .project_title {
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 11;
    margin-bottom: 20px;
    display: table;
    width: 100%;
    padding: 0px 15px;
}
.avatar {
    position: relative;
}
.avatar_image{
    height: 120px;
    width: 120px;
    display: table;
    border-radius: 50%;
    position: relative;
    margin: 20px auto 40px;
    outline: none;
    background-color: #bcc2c0;
    overflow: hidden;
    z-index: 11;
}
.project_title .float-right {
    position: absolute;
    right: 0;
    bottom: 0;
}
.open a.view_more_detail {
    transform: rotate(180deg);
    transition: all 1s;
}
.open .project_header{
    z-index: 20!important;
    border-radius: 10px 0px 0px 10px!important;
}
.open .project_detail{
    left: 100%;
    z-index: 18;
    border-radius: 0px 10px 10px 0px;
}
.project_title{
    text-transform: capitalize !important;
    font-weight: bold;
}

.font-project-view-small{
    font-size: 20px;  
}

span.badge.badge-pill.z-depth-0.badge-dark {
    margin: 0 5px;
    vertical-align: text-bottom;
}
:host ::ng-deep .ng-dropdown-panel-items.scroll-host > div + div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #dfdff5;
}

:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
    margin: 5px 0px;
}
.card.testimonial-card .card-body {
    padding: 0;
    text-align: center;
}



:host ::ng-deep .ng-dropdown-panel-items.scroll-host::-webkit-scrollbar {
  width: 5px;
}
:host ::ng-deep .ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
:host ::ng-deep .ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb {
  background: #888; 
}
:host ::ng-deep .ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


:host ::ng-deep span.ng-value-label img {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    border-radius: 0px;
}
:host ::ng-deep span.ng-value-icon.right{
    margin-left: 8px;
}
:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
    background-color: #6657a9
}
:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{
    color: #372e5f;
}
a.btn-floating.btn-action {
    margin-right: 4px;
    display: table;
    text-align: center;
}
a.btn-floating.btn-action i{
    width: 0px auto;
}
@media (max-width: 1199px){
}
@media (max-width: 991px){
}
@media (max-width: 767px){
}
@media (max-width: 575px){
    a.btn-floating.btn-action {
        margin-right: 10px;
    }
    .margin_left{
        margin-left: -15px;
    }
}

.width-80{
    max-width: 50% !important;
}

.margin-auto{
    margin:auto;
    margin-top: 10px;
}

.margin-tb-20{
    margin-top:25px;
    margin-bottom:25px;
}
.dropdown-menu{
    background-color: transparent;
    box-shadow: none; 
    padding: 10px;
    float: right;
    top: -10px!important;
    left: 15px!important;
}
.dropdown-item{
    border-radius: 50%;
}
.dropdown-item i{
    font-size: 17px;
    padding-top: 0px;
    transition: all 10s;
}
.btn_popover_menu{
    height: 37px;
    width: 37px;
    font-size: 14px;
    top: -20px;
    right: -15px;
    /*    float: right;*/
}
.btn-floating i{
    font-size: 14px!important;
}
.title_image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.summary{
    position: fixed;
    display: none;
     z-index: 999;
     /*background-image: linear-gradient(gray,#31c8cc);*/
    background-color: #fff;
    height: 300px;
    width: 300px;
    top: 85px;
    right: 5px;
    border-radius: 5px;
    color: black;
}
.progress_summary {
    position: relative;
    z-index: 1;
}
.progress_summary:hover + .summary{
    display: block;
}
.dropdown-menu.show {
    display: block !important;
    width: 250px !important;
}
