<div class="loader" *ngIf="loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<!-- <div class="body_content" *ngIf="!loader"> -->

	<div class="row" *ngIf="pro">
		<h1>{{pro.title}}<sub>({{pro.uniqueId}})</sub></h1>
	</div>

	<div class="row justify-content-end">

<!-- <div class="form-group">
		<select class="browser-default custom-select custom-select-lg mb-3" id="projectId" *ngIf="projects" (change)="filterTracks(trackChangeProjectWise = $event.target.value, trackChangeDeveloperWise = trackChangeDeveloperWise?trackChangeDeveloperWise:'all')">
			<option value="all" selected>All Projects</option>
			<option *ngFor="let project of projects" value="{{project._id}}">{{project.title}}</option>
		</select>
	</div>
	<div class="form-group">
		<select class="browser-default custom-select custom-select-lg mb-3" id="assignTo" *ngIf="developers && currentUser.userRole=='projectManager'" (change)="filterTracks(trackChangeProjectWise = trackChangeProjectWise?trackChangeProjectWise:'all', trackChangeDeveloperWise = $event.target.value)">
			<option value="all" selected>All Developer</option>
			<option *ngFor="let developer of developers" value="{{developer._id}}">{{developer.name}}</option>
		</select>
	</div> -->
	
	<div class="dropdown" *ngIf="currentUser.userRole=='projectManager'">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Item</button>
		<div class="dropdown-menu dropdown-default">
			<a class="dropdown-item" data-toggle="modal" data-target="#exampleModalPreview" (click)="modalTitle='Add Task'; newTask = getEmptyTask()">Task</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#exampleModalPreview" (click)="modalTitle='Add Bug'; newTask = getEmptyTask()">Bug</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#exampleModalPreview" (click)="modalTitle='Add Issue'; newTask = getEmptyTask()">Issue</a>
		</div>
	</div>
	<div class="dropdown" *ngIf="currentUser.userRole=='projectManager'">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting</button>
		<div class="dropdown-menu dropdown-default">
			<a class="dropdown-item" (click)="sortTasksByCreatedAt('asc')">Due Date <i class="fas fa-arrow-up"></i></a>
			<a class="dropdown-item" (click)="sortTasksByCreatedAt('desc')">Due Date <i class="fas fa-arrow-down"></i></a>
			<a class="dropdown-item" (click)="sortTasksByPriority('asc')">Priority <i class="fas fa-arrow-up"></i></a>
			<a class="dropdown-item" (click)="sortTasksByPriority('desc')">Priority <i class="fas fa-arrow-down"></i></a>
		</div>
	</div>
	<a routerLink = '/leave'>Leave Form</a>

</div>

<div class="row">
	<div class="form-group w-100">
		<label for="exampleForm2">Search Task</label>
		<input type="text" id="exampleForm2" class="form-control" [(ngModel)]="searchText" placeholder="search text goes here" (keyup)="onKey(searchText)">
	</div>
</div>
<div *ngIf="developers">
	<app-child [developers]="developers" [tracks]='tracks' (task)="openModel($event)" (trackDrop)="onTrackDrop($event)" (talkDrop)="onTalkDrop($event)"></app-child>
</div>

<!-- <div class="all_card">
	<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
		<div class="card-list mat-elevation-z1" *ngFor="let track of tracks" ng-repeat="-createdAt">
			<div class="card">
				<div class="card-header">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
		</div>
		<div class="row justify-content-end">
			<div class="form-group" *ngIf="url=='all-item-list'">
				<select class="browser-default custom-select custom-select-lg mb-3" id="projectId" *ngIf="projects" (change)="filterTracks(trackChangeProjectWise = $event.target.value, trackChangeDeveloperWise = trackChangeDeveloperWise?trackChangeDeveloperWise:'all')">
					<option value="all" selected>All Projects</option>
					<option *ngFor="let project of projects" value="{{project._id}}">{{project.title}}</option>
				</select>
			</div>
			<div class="form-group" *ngIf="url=='all-item-list'">
				<select class="browser-default custom-select custom-select-lg mb-3" id="assignTo" *ngIf="developers && currentUser.userRole=='projectManager'" (change)="filterTracks(trackChangeProjectWise = trackChangeProjectWise?trackChangeProjectWise:'all', trackChangeDeveloperWise = $event.target.value)">
					<option value="all" selected>All Developer</option>
					<option *ngFor="let developer of developers" value="{{developer._id}}">{{developer.name}}</option>
				</select>
			</div>
			<div class="dropdown" *ngIf="currentUser.userRole=='projectManager'">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Item</button>
				<div class="dropdown-menu dropdown-default">
					<a class="dropdown-item" (click)="addItem('Task')">Task</a>
					<a class="dropdown-item" (click)="addItem('Bug')">Bug</a>
					<a class="dropdown-item" (click)="addItem('Issue')">Issue</a>
				</div>
			</div>
			<div class="dropdown" *ngIf="currentUser.userRole=='projectManager'">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting</button>
				<div class="dropdown-menu dropdown-default">
					<a class="dropdown-item" (click)="sortTasksByCreatedAt('asc')">Ascending</a>
					<a class="dropdown-item" (click)="sortTasksByCreatedAt('desc')">Descending</a>
					<a class="dropdown-item" (click)="sortTasksByPriority(data)">Priority</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group w-100">
				<label for="exampleForm2">Search Task</label>
				<input type="text" id="exampleForm2" class="form-control" [(ngModel)]="searchText" placeholder="search text goes here" (keyup)="onKey(searchText)">
				<!-- <button type="button" class="search_btn" (click)="searchTask()"><i class="fa fa-search"></i></button> -->


		<!-- <div class="all_card">
			<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
				<div class="card-list mat-elevation-z1" *ngFor="let track of tracks" ng-repeat="-createdAt">
					<div class="card">
						<div class="card-header">
							<span class="track_title">{{track.title}}</span>
							<span class="card_count_lbl">{{track.tasks.length}}</span>
						</div>		
					</div>
					<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">
						<mat-card *ngFor="let task of track.tasks "cdkDrag>
							<mat-card-content>
								<div class="card" [ngClass]="getPriorityClass(task.priority)" (click)="openModel(task)">
									<div class="card-body" style="padding: 0px;">
										<table>
											<tr>
												<td colspan="2">
													<div class="card-text text-bold" style="color: #333333 !important">{{task.title}}</div>
													<div class="card-text">{{task.desc}}</div>
													<div>{{task.createdAt | timeAgo }}</div>
												</td>
											</tr>
										</table>
										<ul>
											<li class="icon_check">
												<i class="fa fa-check-square" aria-hidden="true"  title="Task"></i>
									
									<li>
										<ul class="team-members">	
											<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
												<a href="javascript:void(0);">
													{{getInitialsOfName(task.assignTo.name)}}
												</a>
											</li>
											<li *ngIf="!task.assignTo" class="add-member">
												<a href="javascript:void(0);" title="Add Member">
													<i class="fa fa-user-plus"></i>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<label class="float-right">{{task.uniqueId}}</label>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div> 
-->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="modal-body" *ngIf="task">
				<div class="container-fluid">
					<table style="width: 100%;">
						<tr>
							<td style="width: 20px;">
								<ul class="team-members">	
									<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
										<a href="javascript:void(0);">
											{{getInitialsOfName(task.assignTo.name)}}
										</a>
									</li>
									<li *ngIf="!task.assignTo" class="add-member">
										<a href="javascript:void(0);" title="Add Member">
											<i class="fa fa-user-plus"></i>
										</a>
									</li>
								</ul>
							</td>
							<td>
								<p class="card-title" style="color: #222;padding: 16px 10px;margin: 0;font-size: 16px;
								font-weight: bold;;">{{task.title}}</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="card-text" style="display: block;white-space: pre-line;margin: 4px 15px;">{{task.desc}}</div>
							</td>
						</tr>
					</table>
					<div class="details">
						<div class="row">
							<div class="col-12 col-md-4">

								<p  *ngIf="task.createdBy">
									<label><strong>Created By: &nbsp;</strong></label>
									<span>{{task.createdBy.name}}</span>
								</p>
								<p *ngIf="task.createdAt">
									<label><strong>Created Date: &nbsp;</strong></label>
									<span>{{task.createdAt | date:'short'}}</span>
								</p>
								<p *ngIf="task.status">
									<label><strong>Status: &nbsp;</strong></label>
									<span>{{task.status}}</span>
								</p>
							</div>
							<div class="col-12 col-md-4">
								<p>
									<label><strong>Assign To: &nbsp;</strong></label>
									<span>{{(task.assignTo)?task.assignTo.name:'null'}}</span>
								</p>
								<p *ngIf="task.priority">
									<label><strong>Prority: &nbsp;</strong></label>
									<span>{{getPriorityClass(task.priority).title}}</span>
								</p>
								<p *ngIf="task.dueDate">
									<label><strong>DueDay: &nbsp;</strong></label>
									<span>{{task.dueDate}}</span>
								</p>
							</div>
							<div class="col-12 col-md-4">
								<p>start time end time</p>
							</div>
						</div>
						<div class="row justify-content-between">
							<div>
								<button class="btn btn-default">Remove Assignment</button>
								<button class="btn btn-default" *ngIf="task.status == 'to do'" (click)="updateStatus('in progress', task)">Start Progress</button>
								<button class="btn btn-default" *ngIf="task.status == 'in progress'" (click)="updateStatus('testing', task)">Move To Testing</button>
								<button class="btn btn-default" *ngIf="task.status == 'testing'" (click)="updateStatus('complete', task)">Complete</button>
							</div>
							<div *ngIf="currentUser.userRole=='projectManager'">
								<button class="btn btn-default" type="button" (click)="deleteTask(task)">Delete Task</button>
							</div>
							<div>
								<button class="btn btn-default" type="button" data-toggle="modal" data-target="#exampleModalPreview" (click)="modalTitle='Edit Item'; newTask = task">Edit</button>
							</div>
						</div>
					</div>
					<hr>
					<h2>Comments</h2>
					<div *ngIf="comments && comments.length>0">
						<div class="comment_area">
							<div class="comment_section" *ngFor = "let i of comments">
								<div class="card">
									<div class="card-body">
										<ul class="team-members">	
											<li *ngIf="i.userId" [title]="getTitle(i.userId.name)">
												<a href="javascript:void(0);">
													{{getInitialsOfName(i.userId.name)}}
												</a>
											</li>
										</ul>
										<div>
											<p class="developerName" *ngIf="i.userId">
												{{i.userId.name}}
											</p>
											<p>
												{{i.content}}
											</p>
											<img [src]="" width="200" height="100" onerror="this.src='assets/icons/issues.png'">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="task.comment && task.comment.length<=0">
						<p>No comments on this be the first one to comments on...</p>
					</div>
					<div class="padding-20">
						<ckeditor class="ckeditor" [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>

						<div class="btn btn-default" (click)="commentImg.click()">
							<span>Upload image with comment</span>
							<input type="file" #commentImg name="commentImg" (change)="onSelectFile($event)" hidden multiple accept="image/png, image/jpg, image/jpeg">
						</div>
						<button class="btn btn-default" (click)="sendComment(task._id)" [disabled]="!comment && files.length==0">Add Comment</button>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default">Save changes</button>
			</div> -->
		</div>
	</div>
</div>


<!-- Modal Start Here -->
<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalPreviewLabel">{{modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="newTask">
				<div class="row">
					<form style="width: 100%;" [formGroup]="editTaskForm">
						<div class="form-group col-12">
							<label for="title">Title</label>
							<input type="text" id="title" formControlName="title" [(ngModel)]="newTask.title" class="form-control">
						</div>
						<div class="form-group col-12">
							<label for="desc">Discription</label>
							<textarea id="desc" formControlName="desc" [(ngModel)]="newTask.desc" class="form-control md-textarea"></textarea>
						</div>
						<div class=" row form-group col-12">
							<button class="btn btn-default" (click)="fileUpload.click()">
								<i class="fa fa-paperclip mr-1"></i> Add Files
								<input type="file" name="uploadedFiles" #fileUpload (change)="onSelectFile($event)" hidden multiple accept="image/png, image/jpg, image/jpeg">
							</button>
						</div>
						<div class="row no-margin no-padding" >
							<div class="form-group col-12 col-lg-6">
								<label for="assignTo">Assign To</label>

								<select  class="browser-default custom-select custom-select-lg mb-3" id="assignTo" formControlName="assignTo" *ngIf="newTask.assignTo" [(ngModel)]="newTask.assignTo._id">
									<option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>
								</select>
								<select  class="browser-default custom-select custom-select-lg mb-3" id="assignTo" formControlName="assignTo" *ngIf="!newTask.assignTo">
									<option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>

								</select>
							</div>
							<div class="form-group col-12 col-lg-6">
								<label for="priority">Priority</label>
								<select class="browser-default custom-select custom-select-lg mb-3" id="priority" formControlName="priority" [(ngModel)]="newTask.priority">
									<option value="4">Low</option>
									<option value="3">Medium</option>
									<option value="2">High</option>
									<option value="1">Highest</option>
								</select>
							</div>
						</div>
						<div class="row no-margin no padding" >
							<div class="form-group col-12">
								<label for="dueDate">Due Days</label>
								<input placeholder="Selected days" id="dueDate" type="number" formControlName="dueDate" [(ngModel)]="newTask.dueDate" class="form-control">
							</div>
						</div>
						<div class="form-group col-12">
							<label for="status">Status</label>
							<select class="browser-default custom-select custom-select-lg mb-3" id="status" formControlName="status" [(ngModel)]="newTask.status">
								<option *ngFor="let trak of tracks" value="{{trak.id}}">{{trak.title}}</option>
							</select>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
				<button type="submit" id="my_button" class="btn btn-default btn-lg" (click)="(modalTitle == 'Edit Item')?updateTask(newTask):saveTheData(editTaskForm.value)">Save changes</button><i _ngcontent-c2="" aria-hidden="true" class="fa fa-refresh refresh"></i>
				<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- 						</div>
-->							<!-- <div class="form-group col-12 col-lg-6">
	<label for="priority">Priority</label>
	<select class="browser-default custom-select custom-select-lg mb-3" id="priority" formControlName="priority" [(ngModel)]="newTask.priority">
		<option value="4">Low</option>
		<option value="3">Medium</option>
		<option value="2">High</option>
		<option value="1">Highest</option>
	</select>
</div>
</div>
<div class="row no-margin no padding" >
	<div class="form-group col-12">
		<label for="dueDate">Due Days</label>
		<input placeholder="Selected days" id="dueDate" type="number" formControlName="dueDate" [(ngModel)]="newTask.dueDate" class="form-control"> -->

<!-- <div class="form-group col-12">
	<label for="status">Status</label>
	<select class="browser-default custom-select custom-select-lg mb-3" id="status" formControlName="status" [(ngModel)]="newTask.status">
		<option *ngFor="let trak of tracks" value="{{trak.id}}">{{trak.title}}</option>
	</select>
</div>
</form>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-default btn-lg" (click)="(modalTitle == 'Edit Item')?updateTask(newTask):saveTheData(editTaskForm.value)" [disabled]="!editTaskForm.valid">Save changes</button>
</div>
</div>
</div>
</div>
-->

