<div class="row">
	
</div>

<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
	<div class="card-list mat-elevation-z1" *ngFor="let track of tracks">
		<div class="card">
			<div class="card-header">
				<span>{{track.title}}</span>
			</div>		
		</div>
		<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">
			<mat-card *ngFor="let task of track.tasks" cdkDrag>
				<mat-card-content>
					<div class="card" [ngClass]="track.class">
						<div class="card-body" style="padding: 0;">
							<table>
								<tr>
									<td colspan="2">
										<label class="float-right">{{task.uniqueId}}</label>
									</td>
								</tr>
								<tr>
									<td style="width: 50px;">
										<ul class="team-members">	
											<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
												<a href="javascript:void(0);">
													{{getInitialsOfName(task.assignTo.name)}}
												</a>
											</li>
											<li *ngIf="!task.assignTo" class="add-member">
												<a href="javascript:void(0);" title="Add Member">
													<i class="fa fa-user-plus"></i>
												</a>
											</li>
										</ul>
									</td>
									<td>
										<p class="card-title" style="background-color: #FFC300;padding: 5px 10px;margin: 0;border-radius: 5px;">{{task.title}}</p>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="card-text">{{task.desc}}</div>
									</td>
								</tr>
							</table>
							<!-- <div class="float-left">
								<ul class="team-members">	
									<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
										<a href="javascript:void(0);">
											{{getInitialsOfName(task.assignTo.name)}}
										</a>
									</li>
									<li *ngIf="!task.assignTo" class="add-member">
										<a href="javascript:void(0);" title="Add Member">
											<i class="fa fa-user-plus"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="float-right">
								<p class="card-title" style="background-color: #FFC300;padding-right: 5px;">{{task.title}}</p>
								<div class="card-text">{{task.desc}}</div>
							</div> -->
						</div>
						<div class="card-action">
							<label class="priority-text"><span [ngClass]="getColorCodeOfPriority(task.priority)"></span>{{task.priority}}</label>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
