
<div class="loader" *ngIf="loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="body_content" *ngIf="!loader">
	<div class="row justify-content-end">
		<div class="dropdown" *ngIf="currentUser.userRole=='projectManager'">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting</button>
			<div class="dropdown-menu dropdown-default">
				<a class="dropdown-item" (click)="sortTasksByCreatedAt('asc')">Ascending</a>
				<a class="dropdown-item" (click)="sortTasksByCreatedAt('desc')">Descending</a>
				<a class="dropdown-item" (click)="sortTasksByPriority(data)">Priority</a>

			</div>
		</div>
		<div class="form-group" *ngIf="url=='all-item-list'">
			<select class="browser-default custom-select custom-select-lg mb-3" id="projectId" (change)="filterByProjectId($event.target.value , $event.target.value1)">
				<option value="null" selected>All Projects</option>
				<option *ngFor="let project of projects" value="{{project._id}}">{{project.title}}</option>
			</select>
		</div>
		<div class="form-group" *ngIf="url=='all-item-list'">
			<select class="browser-default custom-select custom-select-lg mb-3" id="assignTo" (change)="filterByDeveloperId
			($event.target.value)" *ngIf="currentUser.userRole=='projectManager'">
			<option value="null" selected>All Developer</option>
			<option *ngFor="let developer of developers" value="{{developer._id}}">{{developer.name}}</option>
		</select>
	</div>
	<div class="dropdown" *ngIf="currentUser.userRole=='projectManager'">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Item</button>
		<div class="dropdown-menu dropdown-default">
			<a class="dropdown-item" (click)="addItem('Task')">Task</a>
			<a class="dropdown-item" (click)="addItem('Bug')">Bug</a>
			<a class="dropdown-item" (click)="addItem('Issue')">Issue</a>
		</div>
	</div>
	<button class="btn btn-default " type="button"   aria-haspopup="true" aria-expanded="false" *ngIf="currentUser.userRole=='projectManager'">Add Item</button >
</div>
<div class="row">
	<div class="form-group w-100">
		<label for="exampleForm2">Search Task</label>
		<input type="text" id="exampleForm2" class="form-control" [(ngModel)]="searchText" placeholder="search text goes here" (keyup)="onKey(searchText)">
		<!-- <button type="button" class="search_btn" (click)="searchTask()"><i class="fa fa-search"></i></button> -->
	</div>
</div>
<div class="all_card">
	<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
		<div class="card-list mat-elevation-z1" *ngFor="let track of tracks" ng-repeat="-createdAt">
			<div class="card">
				<div class="card-header">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
			</div>
			<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">
				<mat-card *ngFor="let task of track.tasks "cdkDrag>
					<mat-card-content>
						<div class="card" [ngClass]="getPriorityClass(task.priority)" (click)="openModel(task)" data-toggle="tooltip" data-placement="bottom" title="{{task.priority}}">
							<div class="card-body" style="padding: 0px;">
								<table>
									<tr>
										<td colspan="2">
											<div class="card-text text-bold" style="color: #333333 !important">{{task.title}}</div>
											<div class="card-text">{{task.desc}}</div>
											<div>{{task.createdAt | timeAgo }}</div>
										</td>
									</tr>
								</table>
								<ul>
									<li class="icon_check">
										<i class="fa fa-check-square" aria-hidden="true"  title="Task"></i>
									</li>
									<!-- <li>
										<label class="priority-text"><span [ngClass]="getColorCodeOfPriority(task.priority)"data-toggle="tooltip" data-placement="bottom" title="{{task.priority}}"></span></label>
									</li> -->
									<li>
										<ul class="team-members">	
											<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
												<a href="javascript:void(0);">
													{{getInitialsOfName(task.assignTo.name)}}
												</a>
											</li>
											<li *ngIf="!task.assignTo" class="add-member">
												<a href="javascript:void(0);" title="Add Member">
													<i class="fa fa-user-plus"></i>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<label class="float-right">{{task.uniqueId}}</label>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="modal-body" *ngIf="task">
				<div class="container-fluid">
					<table style="width: 100%;">
						<tr>
							<td style="width: 20px;">
								<ul class="team-members">	
									<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
										<a href="javascript:void(0);">
											{{getInitialsOfName(task.assignTo.name)}}
										</a>
									</li>
									<li *ngIf="!task.assignTo" class="add-member">
										<a href="javascript:void(0);" title="Add Member">
											<i class="fa fa-user-plus"></i>
										</a>
									</li>
								</ul>
							</td>
							<td>
								<p class="card-title" style="color: #222;padding: 16px 10px;margin: 0;font-size: 16px;
								font-weight: bold;;">{{task.title}}</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="card-text" style="display: block;white-space: pre-line;margin: 4px 15px;">{{task.desc}}</div>
							</td>
						</tr>
					</table>
					<div class="details">
						<div class="row">
							<div class="col-12 col-md-4" *ngIf="task.createdBy">
								<p>
									<label><strong>Created By: &nbsp;</strong></label>
									<span>{{task.createdBy.name}}</span>
								</p>
								<p *ngIf="task.createdAt">
									<label><strong>Created Date: &nbsp;</strong></label>
									<span>{{task.createdAt | date:'short'}}</span>
								</p>
								<p *ngIf="task.status">
									<label><strong>Status: &nbsp;</strong></label>
									<span>{{task.status}}</span>
								</p>
							</div>
							<div class="col-12 col-md-4">
								<p>
									<label><strong>Assign To: &nbsp;</strong></label>
									<span>{{(task.assignTo)?task.assignTo.name:'null'}}</span>
								</p>
								<p *ngIf="task.priority">
									<label><strong>Prority: &nbsp;</strong></label>
									<span>{{task.priority}}</span>
								</p>
							</div>
							<div class="col-12 col-md-4">
								<p>start time end time</p>
							</div>
						</div>
						<div class="row justify-content-between">
							<div>
								<button class="btn btn-default">Remove Assignment</button>
								<button class="btn btn-default" *ngIf="task.status == 'to do'" (click)="updateStatus('in progress', task)">Start Progress</button>
								<button class="btn btn-default" *ngIf="task.status == 'in progress'" (click)="updateStatus('testing', task)">Move To Testing</button>
								<button class="btn btn-default" *ngIf="task.status == 'testing'" (click)="updateStatus('complete', task)">Complete</button>
							</div>
							<div>
								<button class="btn btn-default" (click)="editTask(task)">Edit</button>
								<!-- <button class="btn btn-default"><i class="fa fa-ellipsis-h"></i></button> -->
							</div>
						</div>
					</div>
					<hr>
					<h2>Comments</h2>
					<div *ngIf="task.comment && task.comment.length>0">
						<p>comments</p>
					</div>
					<div *ngIf="task.comment && task.comment.length<=0">
						<p>No comments on this be the first one to comments on...</p>
					</div>
					<div class="row padding-20">
						<ckeditor class="ckeditor" [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>
						<button class="btn btn-default" (click)="sendComment()" [disabled]="!comment">Add Comment</button>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">{{modalTitle}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>	
			<div class="modal-body" *ngIf="task && !loader">
				<div class="row">
					<form style="width: 100%;" [formGroup]="editTaskForm">
						<div class="form-group col-12">
							<label for="title">Title</label>
							<input type="text" id="title" formControlName="title" [(ngModel)]="task.title" class="form-control">
						</div>
						<div class="form-group col-12">
							<label for="desc">Discription</label>
							<textarea id="desc" formControlName="desc" [(ngModel)]="task.desc" class="form-control md-textarea"></textarea>
						</div>
						<div class="row no-margin no padding" >
							<div class="form-group col-12 col-lg-6">
								<label for="assignTo">Assign To</label>
								<select class="browser-default custom-select custom-select-lg mb-3" id="assignTo" formControlName="assignTo" [(ngModel)]="task.assignTo._id">
									<option *ngFor="let developer of developers" value="{{developer._id}}">{{developer.name}}</option>
								</select>
							</div>
							<div class="form-group col-12 col-lg-6">
								<label for="priority">Priority</label>
								<select class="browser-default custom-select custom-select-lg mb-3" id="priority" formControlName="priority" [(ngModel)]="task.priority">
									<option value="low">Low</option>
									<option value="medium">Medium</option>
									<option value="high">High</option>
								</select>
							</div>
						</div>
						<div class="form-group col-12">
							<label for="status">Status</label>
							<select class="browser-default custom-select custom-select-lg mb-3" id="status" formControlName="status" [(ngModel)]="task.status">
								<option *ngFor="let trak of tracks" value="{{trak.id}}">{{trak.title}}</option>
							</select>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-lg" (click)="(modalTitle == 'Edit Item')?updateTask(task):saveTheData(editTaskForm.value)">Save changes</button>
			</div>
		</div>
	</div>
</div>
