<div class="container mt-5">
	<div class="card">
		<h5 class="card-header white-text text-center py-4">
			<strong>Add Employee Details</strong>
		</h5>
		<div class="card-body px-lg-5 pt-1">
			<form [formGroup]="addEmployeeForm">
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" formControlName="fname" class="form-control">
				</div>

				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" formControlName="lname" class="form-control">
				</div>

				<div class="form-group">
					<label for="password">Email</label>
					<input type="email" formControlName="email" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" formControlName="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="mobile">Phone No.</label>
					<input type="text" formControlName="mobile" class="form-control">
				</div>
				<!-- <div class="form-group">
					<label for="date">Joining Date</label>
					<input type="date" formControlName="date" class="form-control">
				</div> -->
				<div class="md-form form-group">
					<input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker" formControlName="date">
					<!-- <label for="date-picker-example">Try me...</label> -->
				</div>
				<div class="form-group">
					<label for="userrole">UserRole</label>
					<select class="custom-select custom-select-lg mb-3" formControlName="userRole">
						<option value="" disabled selected>Choose user Role</option>
						<option value="admin">Admin</option>
						<option value="projectmanager">Project Manager</option>
						<option value="developer">Developer</option>
					</select>
				</div>
				<div class="form-group">
					<label for="experience">Experience (Before Joining)</label>
					<input type="text" formControlName="experience" class="form-control">
				</div>
				<!-- <div class="form-group">
					<label for="profile">Profile photo</label>
					<input type="file" formControlName="profile" class="form-control" (change)="addFile($event)" accept="image/png, image/jpeg, image/jpg">
				</div> -->
				<div class="form-group">
					<form class="md-form my-3" action="#">
						<div class="file-field">
							<div class="btn btn-primary btn-sm float-left waves-effect waves-light">
								<span>Choose files</span>
								<input type="file" formControlName="profile" class="form-control" (change)="addFile($event)" accept="image/png, image/jpeg, image/jpg">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload Your Profile Photo">
							</div>
						</div>
					</form>


				</div>
					<!-- <div class="file-field" action="#">
						<label for="profile">Profile photo</label>
						<div class="btn btn-primary btn-sm float-left">
							<span>Profile photo</span>
							<input type="file" formControlName="profile" class="form-control" (change)="addFile($event)" accept="image/png, image/jpeg, image/jpg">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text" placeholder="Upload one or more files">
						</div>
					</div> -->
			
				<div class="form-group">
					<form class="md-form my-3" action="#">
						<div class="file-field">
							<div class="btn btn-primary btn-sm float-left waves-effect waves-light">
								<span>Choose files</span>
								<input type="file" formControlName="cv" class="form-control" (change)="addFile($event)" accept=".pdf">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload Your CV">
							</div>
						</div>
					</form>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default" (click)="addEmployee(addEmployeeForm)">Add Employee</button>
					<!-- <a routerLink="/view" class="btn btn-link">Cancel</a> -->
				</div>

			</form>
		</div>
	</div>
</div>