<div class="container">
	<div class="row">
		<div class="card">
			<div class="card-header bg-default">
				<span>Team Members</span>
			</div>
			<table class="table table-hover border pl-5">
				<thead>
					<tr align="center" >
						<th>Name</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let developer of developers">
						<td>{{developer.name}}</td>
						<td><a routerLink="/visit-user-profile/{{developer._id}}">See Profile</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



