<div class="loader" [hidden]="!loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div [hidden]="loader">
	<h3 class="card-header-title mb-1"><span class="icon-note"></span> Edit User Profile</h3>
	<div class="card">
		<div class="card-body">
			<div class="container">
				<form [formGroup]="editEmployeeForm" autocomplete="off">
					<div class="row">
						<div class="col-md-4">
							<div class="md-form form-group" *ngIf="userDetails">
								<label class="active" for="name">Full Name</label> 
								<input type="text" formControlName="name" class="form-control"  id="name" [(ngModel)]="userDetails.name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form form-group" *ngIf="userDetails">
								<label class="active" for="email">Email</label>
								<input type="email" formControlName="email" class="form-control" id="email" [(ngModel)]="userDetails.email">
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form form-group" *ngIf="userDetails">
								<label class="active" for="mobile">Phone No.</label>
								<input type="tel" formControlName="phone" class="form-control" id="mobile" [(ngModel)]="userDetails.phone">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label class="float-left" for="userrole" *ngIf="userDetails">UserRole</label>
							<div class="md-form form-group" *ngIf="userDetails">
								<select class="custom-select custom-select mb-1" formControlName="userRole" [(ngModel)]="userDetails.userRole">
									<option value="admin">Admin</option>
									<option value="projectmanager">Project Manager</option>
									<option value="user">Developer</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form form-group" *ngIf="userDetails">
								<label class="active" for="experience">Experience</label>
								<input type="text" formControlName="experience" class="form-control" id="experience" [(ngModel)]="userDetails.experience">
							</div>
							<div class="md-form form-group" *ngIf="userDetails">
								<label class="active" for="experience">Joining Date</label>
								<input type="text" formControlName="joiningDate" class="form-control" id="joiningDate" [(ngModel)]="userDetails.joiningDate">
							</div>
						</div>
						<div class="col-md-12">
							<div class="md-form form-group file-field" *ngIf="userDetails">
								<div class="btn btn-primary btn-sm float-left waves-effect waves-light" (click)="cv.click()">Choose files
									<input type="file" #cv formControlName="cv" class="form-control" (change)="addFile($event)" accept=".pdf" hidden>
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" [ngModelOptions]="{standalone: true}" type="text" placeholder="Upload Your CV" [(ngModel)]="userDetails.CV" readonly>
								</div>
							</div>
						</div>
						<div class="row float-left ml-2 mt-1">
							<div class="md-form form-group" *ngIf="userDetails">
								<button type="submit" class="btn btn-default" (click)="updateProfile(editEmployeeForm.value)">Save changes</button>
								<button type="submit" class="btn btn-primary" routerLink="/reset-password">Reset Password</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>