/**[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #ffff;
    border: 1px solid;
    margin-top: 80px;
    border: 1px solid black;
}*/
h2{ 
    /*font-size: 30px;
    color: #000000; */   
    margin:0;
}
.card-header {
    background-color: #372e5f;
}
.file-field .btn{
    line-height: normal!important;
    background-color: #413670 !important;
    margin : 0;
}
