
<div class="loader" *ngIf="loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<div class="container-fluid" *ngIf="!loader">
	<div class="row">
		<div class="card" style="background-color: #372e5f;">
			<div class="card-body">
				<h2 class="card-title" style="text-align: center;"><a style="color: #fff;">Attendence Table</a></h2>
			</div>
		</div>
	</div>
	

	<!-- <mat-form-field> -->
		<div style="margin-top:40px;">

			<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
			</mwl-demo-utils-calendar-header>
			<div  style="margin-top: 40px;">
				<div [ngSwitch]="view">
					<mwl-calendar-month-view
					*ngSwitchCase="'month'"
					[viewDate]="viewDate"
					[events]="events"
					(columnHeaderClicked)="clickedColumn = $event"
					(dayClicked)="dateSelected($event.day.date)"
					>
				</mwl-calendar-month-view>
				<mwl-calendar-week-view
				*ngSwitchCase="'week'"
				[viewDate]="viewDate"
				[events]="events"
				(dayHeaderClicked)="dateSelected($event.day.date)"
				>
			</mwl-calendar-week-view>
			<mwl-calendar-day-view
			*ngSwitchCase="'day'"
			[viewDate]="viewDate"
			[events]="events"
			>
		</mwl-calendar-day-view>
	</div>
</div>
</div>


</div>

<ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist" *ngIf="currentUser.userRole=='user' || currentUser.userRole=='developer'" style="margin-top: 40px;">
	<li class="nav-item">
		<a class="nav-link" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
		aria-selected="true" style="font-size:30px;
		"><i class="fas fa-user"></i> Attendence</a>
	</li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust" style="margin-top: -30px;" *ngIf="currentUser.userRole=='user' || currentUser.userRole=='developer'" style="margin-top: -42px;">
	<div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">

		<div class="row" *ngIf="currentUser.userRole=='user' || currentUser.userRole=='developer'" style="margin-top: 40px;">

			<table class="table table-bordered table-striped mb-0"  *ngIf="logs">
				<thead>
					<tr>
						<th scope="col">CheckIn</th>
						<th scope="col">CheckOut</th>
						<th scope="col">Diffrence</th>

					</tr>

				</thead>
				<tbody>
					<tr *ngFor="let ateendence of logs">
						<td>{{ateendence.checkIn | date:'mediumTime'}}</td>

						<td>{{ateendence.checkOut | date:'mediumTime'}}</td>

						<td>{{ateendence.diff}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row" style="margin-top: 40px;">
			<table class="table table-bordered">
				<thead>
					<tr>

						<th scope="col" style="background-color: lightcoral;
						text-align: center;"><i class="far fa-clock"></i> Work Time</th>
						<th *ngIf="diffff" style="float: right;margin-right: 224px;background-color: lightcoral">{{diffff}}</th>
					</tr>

				</thead>

			</table>
		</div>


	</div>
	

</div>






<ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'" style="    margin-top: 50px;">
	<li class="nav-item">
		<a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
		aria-selected="true"><i class="fas fa-user"></i> Present Developer</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
		aria-selected="false"><i class="fas fa-user"></i> Absent Developer</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" aria-controls="contact-just"
		aria-selected="false"><i class="fas fa-calendar-day"></i> Today Attendence</a>
	</li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'" style="    margin-top: -27px;">
	<div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">

		<div class="row" *ngIf="presentuser">
			<div class="col-md-6">
				<h2 *ngIf="presentuser">Present Developer: {{presentuser.length}}</h2>
			</div>


			<div class="col-md-2" *ngIf="presentuser.length>0">
			</div>
			<div class="col-md-4" *ngIf="presentuser.length>0">
				<div class="search-hero">
					<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 20px;" *ngIf="presentuser">
			<div class="col-md-6" *ngIf="presentuser.length>0">
				<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
					<thead>
						<tr>
							<th class="th-sm"><i class="fas fa-user"></i> Present Developer</th>
							<th class="th-sm">Check In</th>
							<th class="th-sm">Check Out</th>
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of presentuser | filter:searchText ,let i=index">
							<td (click)="puser(user.check)" style="cursor: pointer;">{{user.UserName}}</td>
							<td>{{user.check.slice(-1)[0].checkIn | date:'mediumTime'}}</td>
							<td>{{user.check.slice(-1)[0].checkOut | date:'mediumTime'}}</td>

							

						</tr>


					</tbody>
					
				</table>

			</div>
			<div class="col-md-6" *ngIf="presentuser.length>0">
				<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
					<thead>
						<tr>
							<th class="th-sm"><i class="far fa-clock"></i> Work Time</th>
							<th scope="col">Sign</th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of alldiff">
							<td>{{user}}</td>

							<td><i class="fas fa-check"></i></td>
						</tr>

					</tbody>
					
				</table>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">

		<h2 *ngIf="missing">Absent Developer: {{missing.length}}</h2>
		<div class="row" style="margin-top: 20px;">

			<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
				<thead>
					<tr>
						<th scope="col"><i class="fas fa-user"></i>  Absent Developer</th>



						<th scope="col">Sign</th>

					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of missing">
						<td>{{i}}</td>


						<td><i class="fas fa-times"></i></td>

					</tr>

				</tbody>

			</table>
		</div>


	</div>
	<div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">

		<h1 style="text-align:center;"><i class="fas fa-user"></i> {{currentUser.name}}</h1>

		<div class="row" style="margin-top: 40px;">

			<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th scope="col">CheckIn</th>
						<th scope="col">CheckOut</th>
						<th scope="col">Diffrence</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let ateendence of logs;let i=index;">
						<td>{{ateendence.checkIn | date:'mediumTime'}}</td>

						<td>{{ateendence.checkOut | date:'mediumTime'}}</td>

						<td>{{ateendence.diff}}</td>
					</tr>

				</tbody>
				
			</table>

		</div>

		<div class="row" style="margin-top: 40px;">

			<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>

						<th scope="col" style="background-color: lightcoral;
						text-align: center;"><i class="far fa-clock"></i> Work Time</th>
						<th *ngIf="diffff" style="float: right;margin-right: 224px;background-color: lightcoral">{{diffff}}</th>
					</tr>
				</thead>
				
			</table>
		</div>

	</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				
				<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th scope="col">CheckIn</th>
							<th scope="col">CheckOut</th>
							<th scope="col">Diff</th>

						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let ar of arry">
							<td>{{ar.checkIn | date:'mediumTime'}}</td>

							<td>{{ar.checkOut | date:'mediumTime'}}</td>

							<td>{{ar.diff}}</td>
						</tr>

					</tbody>

				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<div class="row" style="margin-top: 40px;" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'" >

	<!-- <input type="text" ngbDatepicker #d="ngbDatepicker" ngbDatepicker (dateSelect)="onDateSelection($event)" [displayMonths]="1" outsideDays="hidden"/>
		<button (click)="d.toggle()">Toggle</button> -->

		<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="1" outsideDays="hidden">
		</ngb-datepicker>

		<ng-template #t let-date let-focused="focused">
			<span class="custom-day"
			[class.focused]="focused"
			[class.range]="isRange(date)"
			[class.faded]="isHovered(date) || isInside(date)"
			(mouseenter)="hoveredDate = date"
			(mouseleave)="hoveredDate = null">
			{{ date.day }}
		</span>
	</ng-template>

	<!-- <hr> -->

<!-- <pre>From: {{ fromDate | json }} </pre>
	<pre>To: {{ toDate | json }} </pre> -->

</div>



<ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'" style="    margin-top: 50px;">
	<li class="nav-item">
		<a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
		aria-selected="true"><i class="fas fa-user"></i> Present Developer</a>
	</li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust"  style="    margin-top: -27px;" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'" >
	<div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">

		<div class="row" style="margin-top: 20px;" *ngIf="finalresultpresentuser">
			<div class="col-md-6" *ngIf="finalresultpresentuser.length>0">
				<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
					<thead>
						<tr>
							<th class="th-sm"><i class="fas fa-user"></i> Present Developer</th>
							<th class="th-sm">Check In</th>
							<th class="th-sm">Check Out</th>
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of finalresultpresentuser | filter:searchText ,let i=index">
							<td (click)="puser(user.check)" style="cursor: pointer;">{{user.UserName}}</td>
							<td>{{user.check.slice(-1)[0].checkIn | date:'mediumTime'}}</td>
							<td>{{user.check.slice(-1)[0].checkOut | date:'mediumTime'}}</td>

							

						</tr>


					</tbody>
					
				</table>

			</div>
			<div class="col-md-6" *ngIf="finalresultpresentuser.length>0">
				<table id="dtMaterialDesignExample" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="currentUser.userRole=='admin' || currentUser.userRole=='projectManager'">
					<thead>
						<tr>
							<th class="th-sm"><i class="far fa-clock"></i> Work Time</th>
							<th scope="col">Sign</th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of finalresultpresentuser">
							<td>{{user.difference | date:'mediumTime'}}</td>

							<td><i class="fas fa-check"></i></td>
						</tr>

					</tbody>
					
				</table>
			</div>
		</div>

		
	</div>
	
</div>

