<div class="loader" *ngIf="loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<div class="container-fluid" *ngIf="!loader">
	<div class="row">
		<div class="header">
			<h1>Attendence Table</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="submit" class="btn btn-default" (click)="checkIn(currentEmployeeId)" *ngIf="!checkInStatus">CheckIn</button>
		</div>
		<div class="col-md-6">
			<button type="submit" class="btn btn-default" (click)="checkOut(currentEmployeeId)" *ngIf="checkInStatus">CheckOut</button>
		</div>
	</div>
	<!-- <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
	</mwl-demo-utils-calendar-header> -->

	<div class="alert alert-info">
		Click on a day on the view.
		<strong *ngIf="clickedDate"
		>You clicked on this day: {{ clickedDate | date:'medium' }}</strong
		>
		<strong *ngIf="clickedColumn != null"
		>You clicked on this column: {{ clickedColumn }}</strong
		>
	</div>

	<div [ngSwitch]="view">
		<mwl-calendar-month-view
		*ngSwitchCase="'month'"
		[viewDate]="viewDate"
		[events]="events"
		(columnHeaderClicked)="clickedColumn = $event"
		(dayClicked)="dateSelected($event.day.date)"
		>
	</mwl-calendar-month-view>
	<mwl-calendar-week-view
	*ngSwitchCase="'week'"
	[viewDate]="viewDate"
	[events]="events"
	(dayHeaderClicked)="dateSelected($event.day.date)"
	>
</mwl-calendar-week-view>
<mwl-calendar-day-view
*ngSwitchCase="'day'"
[viewDate]="viewDate"
[events]="events"
>
</mwl-calendar-day-view>
</div>
</div>
<div class="row">
	

	<table class="table">
		<thead>
			<tr>
				<th scope="col">CheckIn</th>
				<th scope="col">CheckOut</th>
				<th scope="col">Diffrence</th>

			</tr>

		</thead>
		<tbody>
			<!-- <tr *ngFor="let i of attendence">
				<td>{{i.checkIn}}</td>
				<td>{{i.checkOut}}</td>
			</tr> -->



		<tr *ngFor="let ateendence of logs;let i=index;">
			<td>{{ateendence.checkIn}}</td>

			<td>{{ateendence.checkOut}}</td>

			<td>{{ateendence.diff}}</td>
		</tr>
	</tbody>
</table>
</div>
<div class="row">
	<table class="table">
		<thead>
			<tr>

				<th scope="col">Work Time</th>

			</tr>

		</thead>
		<tbody>
			<tr>
				<td *ngIf="gate">{{gate}}</td>
			</tr>
		</tbody>

	</table>
</div>


	<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="md-form">
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="md-form">
            <textarea type="text" id="message-text" class="form-control md-textarea" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div> -->