.user_profile_pic img{
    object-position: relative;
    object-fit: cover;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    float: left;
    box-shadow: 0 0 20px 0 rgba(171,171,171,.8);
    position: relative;
    cursor: pointer;

}

/*.refresh{
    margin: 0;
    padding: 5px;
    font-size: 20px;
    -webkit-animation: rotation 2s infinite linear;
  }
  .fa-refresh[_ngcontent-c2] {
    float: right;
    margin: 0 !important; 
  }
 
 #refresh_icon{
    display: none;
  }
  #myDIV{
    display: none;
  }*/