<div class="all_card">
	<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
		<div class="card-list mat-elevation-z1" *ngFor="let track of tracks" ng-repeat="track of tracks | orderBy: '-createdAt'">
			<div class="card">
				<div class="card-header">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
			</div>
		<!-- 	<div class="card"*ngIf="currentUser.userRole=='projectManager'">
				<div class="card-header">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
			</div> -->
			<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">
				<mat-card *ngFor="let task of track.tasks "cdkDrag>
					<mat-card-content>
						<div class="card" [ngClass]="getPriorityClass(task.priority).class" (click)="openModel(task)" data-toggle="tooltip" data-placement="bottom" [title]="getPriorityClass(task.priority).title">
							<div class="card-body" style="padding: 0px;">
								<table>
									<tr>
										<td colspan="2">
											<div class="card-text text-bold" style="color: #333333 !important">{{task.title}}</div>
											<div class="card-text">{{task.desc}}</div>
											<!-- <div>{{task.createdAt | timeAgo }}</div> -->
										</td>
									</tr>
								</table>
								<ul>
									<li class="icon_check">
										<i class="fa fa-check-square" aria-hidden="true"  title="Task"></i>
									</li>
									<li>
										<ul class="team-members">	
											<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
												<a href="javascript:void(0);">
													{{getInitialsOfName(task.assignTo.name)}}
												</a>
											</li>
											<li *ngIf="!task.assignTo" class="add-member">
												<a href="javascript:void(0);" title="Add Member">
													<i class="fa fa-user-plus"></i>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<label class="float-right">{{task.uniqueId}}</label>
								<label class="float-left"> <a [routerLink]="['/userprofile']">{{(task.assignTo)?task.assignTo.name:'null'}}</a></label>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>