
<!-- Task Details Card -->
<!-- <div *ngFor="let time of timeLog">
	<p>{{time.difference}}</p>
	
</div> -->
<div class="all_card" style="margin-top: 25px;margin-left: 15px;">
	<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
		<div class="card-list mat-elevation-z1" *ngFor="let track of tracks" ng-repeat="-createdAt" [ngStyle]='{"width": "calc(100%/"+(tracks.length)+" - 12px)"}'>
			<div class="card">
				<div class="card-header">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
			</div>
		<!-- 	<div class="card"*ngIf="currentUser.userRole=='projectManager'">
				<div class="card-header">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
			</div> -->
			<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">
				<mat-card *ngFor="let task of track.tasks "cdkDrag>
					<mat-card-content>
						<div class="card" [ngClass]="getPriorityClass(task.priority).class" (click)="openModel(task)" data-toggle="tooltip" data-placement="bottom" [title]="getPriorityClass(task.priority).title">
							<div class="card-body" style="padding: 0px;">
								<table class="table-responsive">
									<tr>
										<td colspan="2">
										<!-- 	<a href="javascript:void(0);"> -->
											<i class="fas fa-stopwatch" (click)="timeLogOfTask(task)" style="cursor: pointer;"></i>
										<!-- </a> -->
											<div class="card-text text-bold" style="color: #333333 !important">{{task.title}}</div>
											<div class="card-text">{{task.desc}}</div>
											<!-- <div>{{task.createdAt}}</div> -->
											<!-- <div>{{task.dueDate}}</div> -->
											<!-- <div>{{task.createdAt | timeAgo }}</div> -->
										</td>
									</tr>
								</table>
								<ul>
									<li class="icon_check">
										<i class="fa fa-check-square" aria-hidden="true" title="Task"></i>
									</li>
									<li>
										<ul class="team-members">	
											<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
												<a href="javascript:void(0);">
													<div class="user_profile_pic"><img src="{{path}}{{task.assignTo	.profilePhoto}}" class="img-rounded" routerLink = "/visit-user-profile/{{task.assignTo._id}}" onerror="this.src='assets/4.jpeg'" ></div>
												</a>
											</li>
											<li *ngIf="!task.assignTo" class="add-member">
												<a href="javascript:void(0);" title="Add Member">
													<i class="fa fa-user-plus"></i>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<label class="float-right">{{task.uniqueId}}</label>
								<label class="float-left"> <a style="color: black; cursor: pointer;" routerLink="/visit-user-profile/{{task.assignTo._id}}">{{(task.assignTo)?task.assignTo.name:'null'}}</a></label>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>



<!-- Task details Modal -->

<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
		<div class="modal-content">
			<div class="card card-cascade narrower modal-header view view-cascade">
				<h4 class="modal-title w-100 text-center" id="myModalLabel"style="margin-bottom: 15px;">Task Details</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="modal-body" *ngIf="task">
				<div class="container">
					<table class="table-responsive" style="width: 100%;">
						<tr>
							<td style="width: 20px;">
								<ul class="team-members">	
									<li *ngIf="task.assignTo" [title]="getTitle(task.assignTo.name)">
										<a href="javascript:void(0);">
											<div class="user_profile_pic"><img src="{{path}}{{task.assignTo.profilePhoto}}" class="img-rounded" onerror="this.src='assets/4.jpeg'" style="outline: none;" routerLink = "/visit-user-profile/{{task.assignTo._id}}"></div>
										</a>
									</li>
									<li *ngIf="!task.assignTo" class="add-member">
										<a href="javascript:void(0);" title="Add Member">
											<i class="fa fa-user-plus"></i>
										</a>
									</li>
								</ul>
							</td>
							<td>
								<p class="card-title text-left" style="color: #222;padding: 16px 10px;margin: 0;font-size: 16px;
								font-weight: bold;;">{{task.title}}</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="card-text" style="display: block;white-space: pre-line;margin: 4px 15px;">{{task.desc}}</div>
							</td>
						</tr>
					</table>
					<div *ngIf="task.images && task.images.length>0">
						<span class="task_img text-left" *ngFor="let image of task.images">
							<img src="{{path}}{{image}}">
						</span>
					</div>

					<div class="details">
						<div class="row">
							<div class="col-12 col-md-6">
								<p  *ngIf="task.createdBy">
									<label><strong>Created By: &nbsp;</strong></label>
									<span>{{task.createdBy.name}}</span>
								</p>
								<p *ngIf="task.createdAt">
									<label><strong>Created Date: &nbsp;</strong></label>
									<span>{{task.createdAt | date:'short'}}</span>
								</p>
								<p *ngIf="task.status">
									<label><strong>Status: &nbsp;</strong></label>
									<span>{{task.status}}</span>
								</p>
								<p *ngIf="task.estimatedTime">
									<label><strong>estimated time: &nbsp;</strong></label>
									<span>{{task.estimatedTime}} Hours</span>
								</p>
							</div>
							<div class="col-12 col-md-6">
								<p>
									<label><strong>Assign To: &nbsp;</strong></label>
									<span>{{(task.assignTo)?task.assignTo.name:'null'}}</span>
								</p>
								<p *ngIf="task.priority">
									<label><strong>Prority: &nbsp;</strong></label>
									<span>{{getPriorityClass(task.priority).title}}</span>
								</p>
								<p *ngIf="task.dueDate">
									<label><strong>DueDay: &nbsp;</strong></label>
									<span>{{task.dueDate | date:'short'}}</span>
								</p>
								<p *ngIf="task.sprint">
									<label><strong>Sprint: &nbsp;</strong></label>
									<span>{{task.sprint.title}}</span>
								</p>
								<p>
									<!-- <label>Time: &nbsp;</label>
									<span>{{timeLog.difference}}</span> -->
									
								</p>
							</div>

							<div class="row justify-content-between">

								<div>

								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-between">
						<div>
							<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Remove Assignment</button>
							<button class="btn btn-default  btn-lg " *ngIf="task.status == 'to do'" (click)="updateStatus('in progress', task)">Start Progress</button>
							<button class="btn btn-default  btn-lg" *ngIf="task.status == 'in progress'" (click)="updateStatus('testing', task)">Move To Testing</button>
							<button class="btn btn-default  btn-lg" *ngIf="task.status == 'testing'" (click)="updateStatus('complete', task)">Complete</button>
						</div>
						<div>
							<button class="btn btn-default" type="button" data-toggle="modal" data-target="#itemManipulationModel1" (click)="editTask(task); newTask = task">Edit</button>
						</div>
					</div>
					<hr>
					<div class="mb-3 wow fadeIn">
						<h2>Comments</h2>
						<div *ngIf="comments && comments.length>0">
							<div class="comment_area">
								<div class="comment_section" *ngFor = "let i of comments">
									<div class="card">
										<div class="card-body">
											<div class="team-members">	
												<div *ngIf="i.userId" [title]="getTitle(i.userId.name)">
													<a href="javascript:void(0);">
														<div><img class="comment_profile" src="{{path}}{{currentUser.profilePhoto}}"  onerror="this.src='assets/4.jpeg'" >
														</div>
													</a>
												</div>
											</div>
											<div class="comment_content">
												<h5 class="mt-0 font-weight-bold " *ngIf="i.userId">
													{{i.userId.name}}
												</h5>
												<span class="break" innerHtml="{{i.content}}">
												</span>
												<a data-lightbox="comment_image" class="image_attachment" *ngIf="i.images.length>0" href="{{path}}{{i.images}}">
													<img src="{{path}}{{i.images}}" width="200" height="100" onerror="this.src='assets/icons/issues.png'">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="comments && comments.length<=0">
						<p>No comments on this be the first one to comments on...</p>
					</div>
					<div class="row">
						<ckeditor class="ckeditor margin-left-15" [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>
						<div class="btn btn-default" (click)="commentImg.click()">
							<span>Upload image with comment</span>
							<input type="file" #commentImg name="commentImg" (change)="onSelectFile($event, 'comment')" hidden multiple accept="image/png, image/jpg, image/jpeg">
						</div>
						<button class="btn btn-default" (click)="sendComment(task._id)" [disabled]="!comment && files.length==0">Add Comment</button>
					</div>
					<div *ngIf="commentUrl && commentUrl.length">
						<div class="text-center selected-avatar" *ngFor="let c of commentUrl; let ci=index;">
							<img class="avatar-image margin-auto" [src]="commentUrl" style="height: 150px; width: 150px;">
							<div class="delete-team-member">
								<a href="javascript:void(0);" (click)="removeCommentImage(c, ci)"><i class="fas fa-trash fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Edit Modal -->



<div class="modal fade right" id="itemManipulationModel1" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">

		<div class="modal-content">

			<div class="card card-cascade narrower modal-header view view-cascade "> 
				<h5 class="modal-title text-center" id="itemModal">{{modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				</button>

				
			</div>
			<div class="modal-body view view-cascade">
				<div class="container">
					<form style="width: 100%;" [formGroup]="editTaskForm">
						<div class="form-group col-12"s>
							<label for="title">Title</label>
							<input type="text" id="title" formControlName="title" [(ngModel)]="newTask.title">
						</div>
						<div class="form-group col-12">
							<label for="desc">Discription</label>
							<textarea id="desc" formControlName="desc" [(ngModel)]="newTask.desc" class="form-control md-textarea"></textarea>
						</div>
						<div class="row form-group col-12">
							<button class="btn btn-default" (click)="fileUpload.click()">
								<i class="fa fa-paperclip mr-1"></i> Add Files
								<input type="file" name="uploadedFiles" #fileUpload (change)="onSelectFile($event, 'item')" hidden multiple accept="image/png, image/jpg, image/jpeg">
							</button>
						</div>
						<div *ngIf="newTask.images && newTask.images.length>0">
							<div class="text-center selected-avatar" *ngFor="let url of newTask.images; let k=index;">
								<img class="avatar-image margin-auto" src="{{path}}{{url}}" style="height: 150px; width: 150px;">
								<div class="delete-team-member">
									<a href="javascript:void(0);" (click)="removeAlreadyUplodedFile(k)"><i class="fas fa-trash fa-2x"></i></a>
								</div>
							</div>
						</div>
						<div  *ngIf="url && url.length">
							<div class="text-center selected-avatar" *ngFor="let u of url; let ui=index;">
								<img class="avatar-image margin-auto" [src]="u" style="height: 150px; width: 150px;">
								<div class="delete-team-member">
									<a href="javascript:void(0);" (click)="removeAvatar(u, ui)"><i class="fas fa-trash fa-2x"></i></a>
								</div>
							</div>
						</div>
						<div class="row no-margin no-padding  border" >
							<div class="form-group col-12 col-lg-6 pt-1">
								<label for="assignTo">Assign To</label>
								<select  class="browser-default custom-select custom-select-lg mb-1" id="assignTo" formControlName="assignTo" *ngIf="newTask.assignTo" [(ngModel)]="newTask.assignTo._id">
									<option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>
								</select>
								<select  class="browser-default custom-select custom-select-lg mb-1" id="assignTo" formControlName="assignTo" *ngIf="!newTask.assignTo">
									<option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>
								</select>
							</div>
							<div class="form-group col-12 col-lg-6 pt-1">
								<label for="priority">Priority</label>
								<select class="browser-default custom-select custom-select-lg mb-1" id="priority" formControlName="priority" [(ngModel)]="newTask.priority">
									<option value="4">Low</option>
									<option value="3">Medium</option>
									<option value="2">High</option>
									<option value="1">Highest</option>
								</select>
							</div>
							<div class="form-group col-12">
								<label for="assignTo">Sprint</label>
								<select  class="browser-default custom-select custom-select-lg mb-1" id="sprint" formControlName="sprint" *ngIf="newTask.sprint" [(ngModel)]="newTask.sprint._id">
									<option *ngFor="let sprint of sprints" value="{{sprint._id}}">{{sprint.title}}</option>
								</select>
								<select  class="browser-default custom-select custom-select-lg mb-1" id="sprint" formControlName="sprint" *ngIf="!newTask.sprint">
									<option *ngFor="let sprint of sprints" value="{{sprint._id}}">{{sprint.title}}</option>
								</select>
							</div>
							<div class="form-group col-6">
								<label for="dueDate">Due Days</label>
								<input placeholder="Selected days" id="dueDate" type="text" formControlName="dueDate" [(ngModel)]="newTask.dueDate" class="form-control">
							</div>
							
							<div class="form-group col-6">
								<label for="estimatedTime">Estimated Time</label>
								<div class="md-form form-group">
									
									<input placeholder="Estimated time in hrs.." type="text" id="estimatedTime" class="form-control" formControlName="estimatedTime" [(ngModel)]="newTask.estimatedTime" autocomplete="off">
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="modal-footer">
				<!-- <div class="alert alert-danger alert-dismissible error-alert" role="alert" id="alert">
					<strong>ERROR!</strong>Task couldn't be added.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> -->
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<div id="refresh_icon" style="display: none;"> 
					<i aria-hidden="true" class="fa fa-refresh refresh"></i>
				</div>
				<div *ngIf="currentUser.userRole=='projectManager' && modalTitle == 'Edit Item'">
					<button class="btn btn-deep-orange" type="button" (click)="deleteTask(taskId)"style="padding: 17px;">Delete Task</button>
				</div>
				<button type="submit" id="save_changes" class="btn btn-default" (click)="(modalTitle == 'Edit Item')?updateTask(newTask):saveTheData(editTaskForm.value)" >Save changes</button>
			</div>
		</div>

	</div>

</div>
