<!-- <div class="Container">
	<form class="form-horizontal" [formGroup]='addForm' role="form">
		<h2>Create Project</h2>
			<div class="form-group">
		<label >Project Title:</label><br>
		<input type="text" class="form-control" name="projecttitle" placeholder="Enter Your projecttitle" formControlName="projecttitle" ><br></div>
	
		<label >Project Alias:</label><br>
		<input type="text" class="form-control" name="projecttalias" placeholder="Enter Your projectalias" formControlName="projectalias" ><br>
		<br><label>Description:</label><br>
		<textarea rows="5" class="form-control" name="description" formControlName="description" ></textarea><br>
		<button type="button" class="btn btn-primary" (click)="view_Project(addForm)">Submit</button>
	</form>
	
</div> -->

<div class="container">
	<div class="card">
		<h5 class="card-header white-text text-center py-4">
			<strong>Create Project</strong>
		</h5>
		<div class="card-body px-lg-5 pt-1">
			<form class="md-form" [formGroup]='addForm' role="form" style="color: #757575;">
				<div class="md-form form-group">
					<label for="projecttitle">Project Title</label>
					<input type="text" id="projecttitle" formControlName="title" class="form-control">
				</div>
				<div class="md-form form-group">
					<label for="desc">Description</label>
					<textarea id="desc" rows="5" formControlName="description" class="form-control rounded-0 md-textarea"></textarea>
				</div>
				<button type="submit" class="btn btn-primary btn-rounded z-depth-1" (click)="addProject(addForm)" [disabled]="addForm.invalid">Create Project</button>
			</form>
		</div>
	</div>
</div>



