<div class="container">
	<div class="card card-cascade narrower" >
		<!-- Card image -->
		<div class="view view-cascade gradient-card-header" style="background-color: #372e5f">
			<!-- Title -->
			<h2 class="card-header-title white-text text-center py-3" align="center">Create Project</h2>
		</div>
		<!-- Card content -->
		<div class="card-body card-body-cascade text-center" style="padding-top: 35px;">
			<!-- Text -->
			<div class="container">

				<div class="card-body px-lg-5 pt-1">
					<form class="md-form" [formGroup]='addForm' style="color: #757575;">
						<div class="md-form form-group">
							<label for="projecttitle">Project Title</label>
							<input type="text" id="projecttitle"  formControlName="title" class="form-control">
						</div>
						<div class="md-form form-group">
							<label for="projectalias">Project Alias</label>
							<input type="text" id="projectalias"  formControlName="uniqueId" class="form-control">
						</div>
						<div class="md-form form-group">
							<label for="desc">Description</label>
							<textarea id="desc" rows="5" formControlName="desc" class="form-control rounded-0 md-textarea"></textarea>
						</div>
						<div class="md-form form-group">
							<label for="date-picker-example">Deadline</label>
							<input type="text" id="date-picker"	formControlName="deadline"	class="form-control datepicker" >
						</div>
						<div>
							<h4><strong>Client Details :-</strong></h4>
						</div>
						<div class="md-form form-group">
							<label for="clientemail">Email</label>
							<input type="email" id="clientemail" formControlName="clientEmail" class="form-control">
						</div>
						<div class="md-form form-group">
							<label for="clientfullname">Full Name</label>
							<input type="text" id="clientfullname" formControlName="clientFullName" class="form-control">
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="md-form form-group">
									<label for="clientcontactno">Contact No.</label>
									<input type="number" id="clientcontactno" formControlName="clientContactNo" class="form-control">
								</div>	
							</div>
							<div class="col-md-6">
								<div class="md-form form-group">
									<label for="clientdesignation">Designation</label>
									<input type="text" id="clientdesignation" formControlName="clientDesignation" class="form-control">
								</div>
							</div>
						</div>

						<div class="form-group">
							<ng-select placeholder="Select Developers" [items]="developers" [multiple]="true" bindLabel="name" bindValue="_id" [closeOnSelect]="false" formControlName="Teams">
								<ng-template ng-label-tmp let-item="item" let-clear="clear">
									<span class="ng-value-label"><img [src]="item.profilePhoto" onerror="this.src='assets/icons/avatar.png'" width="20px" height="20px"> {{item.name}}</span>
									<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
								</ng-template>
								<div class="row">
									<ng-template ng-option-tmp let-item="item">
										<div class="card testimonial-card">
											<div class="card-up deep-purple lighten-2"></div>
											<div class="avatar white img_section">
												<img src="{{baseUrl}}{{item.profilePhoto}}" onerror="this.src='assets/icons/avatar.png'" class="rounded-circle img-fluid">
											</div>
											<div class="card-body">
												<h5 class="card-title mt-1">{{item.name}}</h5>
												<h6 class="card-title">{{item.userRole}}</h6>
											</div>
										</div>
									</ng-template>
								</div>
							</ng-select>
						</div>
						<img [src]="url" height="150" width="150"> <br/>
						<!-- demo code -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#basicExampleModal">
							Select Project avatar
						</button>
						<button type="submit" class="btn btn-default btn-rounded z-depth-1" (click)="addProject(addForm.value)">Create Project</button>
						<!-- <button type="button" class="btn btn-default btn-rounded z-depth-1" data-dismiss="modal" aria-label="Close">Cancle</button> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Start Here -->

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Choose Avatar</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="md-form form-group">
				<div class="file-field">
					<div class="btn btn-default btn-sm float-left">
						<span>Upload a new avatar</span>
						<input type="file" name="fileUpload" (change)="onSelectFile($event)">
					</div>
					<div class="file-path-wrapper">
						<input  class="file-path validate" type="text" placeholder="Upload your file">
					</div>
				</div>
				<ul class="project-avatar">
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/school.png')">
							<img src="assets/avatar/school.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/mortarboard.png')">
							<img src="assets/avatar/mortarboard.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/alarm-clock.png')">
							<img src="assets/avatar/alarm-clock.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button"  (click)="addIcon('/avatar/stethoscope.png')">
							<img src="assets/avatar/stethoscope.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/doctor.png')">
							<img src="assets/avatar/doctor.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/bookshelf.png')">
							<img src="assets/avatar/bookshelf.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/flask.png')">
							<img src="assets/avatar/flask.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/customer-service.png')">
							<img src="assets/avatar/customer-service.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/payment-method.png')">
							<img src="assets/avatar/payment-method.png" height="56" width="56">
						</button>	
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/beach.png')">
							<img src="assets/avatar/beach.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/coding.png')">
							<img src="assets/avatar/coding.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/maintenance.png')">
							<img src="assets/avatar/maintenance.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/birthday-cake.png')">
							<img src="assets/avatar/birthday-cake.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/conversation.png')">
							<img src="assets/avatar/conversation.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/food.png')">
							<img src="assets/avatar/food.png" height="56" width="56">
						</button>
					</li>
					<li>
						<button class="icon-button" (click)="addIcon('/avatar/shopping-basket.png')">
							<img src="assets/avatar/shopping-basket.png" height="56" width="56">
						</button>
					</li>

				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Modal End Here -->


