select{
	display: inline-block;
}

:host ::ng-deep .ng-dropdown-panel{
	position: relative !important;
}

button{
	display: table;
	margin: 0px auto;
	border:none;
}
.form-body{
	border-top: 1px solid #ddd;
	overflow: auto;
	padding: 0 24px;
}
.project-avatar{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.project-avatar-list
{
	cursor: pointer;
	display: inline-block;
	position: relative;

}
.icon-button{
	background: transparent;
	border: 0;
	cursor: pointer;
	line-height: 1;
	margin: 0;
	padding: 0;
}
ul.project-avatar{
	display: inline-block;
	width: 100%;
}
ul.project-avatar li {
	display: inline-block;
	margin: 5px;
	float: left;
	padding: 3px;
	border: 2px solid transparent;
}
ul.project-avatar li:hover {
	border-color: #000;
}

.card-header {
    background-color: #372e5f;
}


/*mulitple select*/

/*.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
*/